node-red/flows.json
[{"id":"9a341993.fbc528","type":"tab","label":"TV","disabled":false,"info":""},{"id":"1e454935.091dd7","type":"tab","label":"Set input values","disabled":false,"info":""},{"id":"d1172b8b.3d3298","type":"tab","label":"DoorBell","disabled":false,"info":""},{"id":"80866e71.966c6","type":"tab","label":"Alexa Inbound","disabled":false,"info":""},{"id":"99d64a3d.f4e418","type":"tab","label":"Sun State Change","disabled":false,"info":""},{"id":"a3158433.9d1f78","type":"tab","label":"Home / Away","disabled":false,"info":""},{"id":"cd950567.f864b8","type":"tab","label":"leaving / arriving","disabled":false,"info":""},{"id":"b8a16318.b66a5","type":"tab","label":"Maintenance","disabled":false,"info":""},{"id":"d73100a9.0d64d","type":"tab","label":"Auto Night","disabled":false,"info":""},{"id":"1f9e3480.5be75c","type":"tab","label":"alexa testing","disabled":false,"info":""},{"id":"a068bd5.28a8d4","type":"tab","label":"Presence Detection","disabled":false,"info":""},{"id":"f92add19.c43b9","type":"tab","label":"Input Selecter Handle","disabled":false,"info":""},{"id":"a0a4859f.5a2a48","type":"tab","label":"Alarm","disabled":false,"info":""},{"id":"dceb45d8.425368","type":"tab","label":"Matt Lunch Time","disabled":false,"info":""},{"id":"8e7e0d7a.addec","type":"tab","label":"Printer","disabled":false,"info":""},{"id":"48ba348c.61270c","type":"tab","label":"Fault Detection","disabled":false,"info":""},{"id":"940805f6.65fb98","type":"tab","label":"Testings","disabled":false,"info":""},{"id":"a0cdc0f9.a362b","type":"tab","label":"BathRoom","disabled":false,"info":""},{"id":"acf12371.2c1ae","type":"tab","label":"Office","disabled":false,"info":""},{"id":"21d6efde.d0943","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a83e69e1.4b2ab8","type":"subflow","name":"Alert Matt","info":"","category":"","in":[{"x":100,"y":60,"wires":[]}],"out":[]},{"id":"47bc2d66.1132e4","type":"subflow","name":"Alexa","info":"Pass in msg.say","category":"","in":[{"x":80,"y":60,"wires":[{"id":"c6c0af75.98fa5"}]}],"out":[{"x":1440,"y":60,"wires":[{"id":"275d0587.9c0bba","port":0}]}]},{"id":"a0cc6149.1f76e","type":"subflow","name":"Send Email","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"a0436269.f0533"}]}],"out":[]},{"id":"f5eab19a.7cf17","type":"subflow","name":"Error Handler","info":"","category":"","in":[{"x":60,"y":60,"wires":[{"id":"8ee737f2.2dc868"},{"id":"35126fda.6e6b4"}]}],"out":[]},{"id":"c9b308f8.01ef68","type":"subflow","name":"Good Night","info":"","category":"","in":[{"x":60,"y":40,"wires":[{"id":"4ad3a3ca.e993fc"},{"id":"eafdd93e.9fb888"},{"id":"13188644.21746a"},{"id":"81018cf2.485d6"},{"id":"d0cfbc85.dd2e7"},{"id":"11925681.a709e9"},{"id":"96315aaf.436ea8"},{"id":"df1fe7a6.c64e78"},{"id":"bc86c7f4.0d9708"},{"id":"2971d7cd.f71318"},{"id":"ddfafa57.793b48"},{"id":"7cc64304.a4c08c"},{"id":"5a47e076.9bd83"},{"id":"4cc8dc8e.5daea4"},{"id":"9c8404e9.34ba08"}]}],"out":[]},{"id":"20dffe5a.37e8a2","type":"subflow","name":"Forward Light Comands","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"681f52a2.6e388c"}]}],"out":[{"x":700,"y":40,"wires":[{"id":"a14e6e3.6e53b9","port":0}]}]},{"id":"39d5614b.70177e","type":"subflow","name":"Shutdown/Reboot","info":"","in":[{"x":53,"y":99,"wires":[{"id":"a01b5e58.114ea"}]}],"out":[]},{"id":"5ee4d578.f7736c","type":"server","z":"","name":"Home Assistant"},{"id":"eef5a84.da24f58","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true},{"id":"1b6bc4ba.56ff4b","type":"mqtt-broker","z":"","name":"monitor","broker":"192.168.1.253","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"Hassio","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"525afe76.43e05","type":"light-scheduler-settings","z":"","name":"Home","latitude":"51.398660","longitude":"-1.316950"},{"id":"152fa50f.b6f93b","type":"server","z":"","name":"Home Assistant"},{"id":"56ac32d7.54222c","type":"server","z":"","name":"Home Assistant"},{"id":"fe14a53.c42df58","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"45.5490814","longitude":"-22.44234640000001"},{"id":"abf0af3d.05949","type":"server","z":"","name":"Home Assistant"},{"id":"90568782.0ff848","type":"server","z":"","name":"Home Assistant"},{"id":"88eacd55.1ede5","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9f26169c.88edf8","type":"server","z":"","name":"Home Assistant"},{"id":"1237be0c.e4a442","type":"mqtt-broker","z":"","name":"","broker":"192.168.86.168","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"11c4fb3a.986545","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"192.168.1.119","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b630936b.d17eb","type":"server","z":"","name":"Home Assistant"},{"id":"a71d0a02.2b45f8","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":false},{"id":"e0e223e3.be824","type":"ui_group","z":"","name":"Bulb switch","tab":"c788498.02a4db8","disp":true,"width":"6","collapse":false},{"id":"c788498.02a4db8","type":"ui_tab","z":"","name":"Lights","icon":"dashboard"},{"id":"3fa4c0fe.0f3ed","type":"alexa-home-conf","z":"","username":"matbrewer396@gmail.com"},{"id":"404b4ef1.dd9e5","type":"ui_group","z":"","name":"Default","tab":"daa13738.1a9ba8","disp":false,"width":"6"},{"id":"daa13738.1a9ba8","type":"ui_tab","z":"","name":"Test","icon":"dashboard","order":1},{"id":"839c216a.4a97d","type":"api-call-service","z":"a83e69e1.4b2ab8","name":"","server":"eef5a84.da24f58","service_domain":"notify","service":"mattiphone_iphone10smax","data":"{ \"message\": \"Door ball been pressed\" }","mergecontext":"","x":670,"y":60,"wires":[[]]},{"id":"ce19f7d6.5854c8","type":"change","z":"a83e69e1.4b2ab8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":60,"wires":[[]]},{"id":"c5f11237.56983","type":"function","z":"47bc2d66.1132e4","name":"Build Data","func":"msg.payload = { \"data\" : { \"message\": msg.say, \"entity_id\": msg.pri_alexa } }\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":60,"wires":[["275d0587.9c0bba"]]},{"id":"275d0587.9c0bba","type":"api-call-service","z":"47bc2d66.1132e4","name":"","server":"eef5a84.da24f58","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"{{payload.entity_id}}\"}","mergecontext":"","x":1120,"y":60,"wires":[[]]},{"id":"c6c0af75.98fa5","type":"switch","z":"47bc2d66.1132e4","name":"","property":"alexa","propertyType":"msg","rules":[{"t":"eq","v":"down","vt":"str"},{"t":"eq","v":"up","vt":"str"},{"t":"eq","v":"office","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":230,"y":180,"wires":[["dfc50416.e4f068"],["f378f617.7ecbe8"],["2704ac25.a7fd64"],["f3a398d3.2da708"]]},{"id":"f3a398d3.2da708","type":"change","z":"47bc2d66.1132e4","name":"All","rules":[{"t":"set","p":"pri_alexa","pt":"msg","to":"[\"media_player.bedroom_2\",\"media_player.living_room_2\",\"media_player.kitten\",\"media_player.office\",\"media_player.barthroom_2\"]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":260,"wires":[["c5f11237.56983"]]},{"id":"2704ac25.a7fd64","type":"change","z":"47bc2d66.1132e4","name":"Office","rules":[{"t":"set","p":"pri_alexa","pt":"msg","to":"[\"media_player.office\"]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":220,"wires":[["c5f11237.56983"]]},{"id":"dfc50416.e4f068","type":"change","z":"47bc2d66.1132e4","name":"Down","rules":[{"t":"set","p":"pri_alexa","pt":"msg","to":"[\"media_player.kitten\",\"media_player.living_room_2\",\"media_player.office\"]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":140,"wires":[["c5f11237.56983"]]},{"id":"f378f617.7ecbe8","type":"change","z":"47bc2d66.1132e4","name":"Up","rules":[{"t":"set","p":"pri_alexa","pt":"msg","to":"[\"media_player.bedroom_2\",\"media_player.barthroom_2\"]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":180,"wires":[["c5f11237.56983"]]},{"id":"f3c4fe69.bcf49","type":"server-state-changed","z":"a3158433.9d1f78","name":"Danni Home/Away","server":"eef5a84.da24f58","entityidfilter":"device_tracker.life360_danni","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":150,"y":452,"wires":[["b15702d1.3a09"]]},{"id":"8bff2496.0f9698","type":"server-state-changed","z":"a3158433.9d1f78","name":"Matt Home/Away","server":"eef5a84.da24f58","entityidfilter":"device_tracker.life360_matt","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":140,"y":492,"wires":[["57ce7fd6.512fb"]]},{"id":"2040e4b1.d5c3fc","type":"function","z":"a3158433.9d1f78","name":"Home/Away State Change","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":520,"wires":[["728fde3f.09ce9","688dba9c.79d5d4","28fe8ca4.275294","e7ea3a2f.0a3d58"]]},{"id":"53c7d5e.0294d2c","type":"inject","z":"a3158433.9d1f78","name":"Started","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"15","x":140,"y":661,"wires":[["2040e4b1.d5c3fc"]]},{"id":"688dba9c.79d5d4","type":"api-current-state","z":"a3158433.9d1f78","name":"","server":"eef5a84.da24f58","outputs":1,"halt_if":"","override_topic":true,"entity_id":"device_tracker.life360_matt","override_payload":true,"override_data":true,"x":1520,"y":480,"wires":[["5d6e628f.7aa7fc"]]},{"id":"728fde3f.09ce9","type":"api-current-state","z":"a3158433.9d1f78","name":"","server":"eef5a84.da24f58","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"device_tracker.life360_danni","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1530,"y":440,"wires":[["5d6e628f.7aa7fc"]]},{"id":"5d6e628f.7aa7fc","type":"join","z":"a3158433.9d1f78","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1850,"y":591,"wires":[["4f9fd6c1.ad5b48"]]},{"id":"4f9fd6c1.ad5b48","type":"function","z":"a3158433.9d1f78","name":"Is Anyone Home","func":"var currentstate = msg.payload[3];\n\n// is someone home?\nif (msg.payload[0] == \"home\" || msg.payload[1] == \"home\" || msg.payload[2] == \"on\") {\n    msg.payload=\"home\";\n} else {\n    msg.payload=\"away\";\n}\n\n// check if status need changing\nif ( (msg.payload==\"home\" && currentstate ==\"off\") || (msg.payload==\"away\" && currentstate ==\"on\") ) {\n    return msg; // Status Changed\n}\n//Else do nothin","outputs":1,"noerr":0,"x":2020,"y":591,"wires":[["4d55b523.00f95c"]]},{"id":"21652d70.72b232","type":"switch","z":"a3158433.9d1f78","name":"Is Anyone Home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"away","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2770,"y":588,"wires":[["634ad6f8.7dd188"],["f4d0131e.967c4"]]},{"id":"5833b5e2.1eff2c","type":"comment","z":"a3158433.9d1f78","name":"Is Any One Home - Bluetooth","info":"","x":180,"y":180,"wires":[]},{"id":"28fe8ca4.275294","type":"api-current-state","z":"a3158433.9d1f78","name":"Do we  have guests?","server":"eef5a84.da24f58","outputs":1,"halt_if":"","override_topic":true,"entity_id":"input_boolean.guestmode","override_payload":true,"x":1460,"y":600,"wires":[["5d6e628f.7aa7fc"]]},{"id":"eaeaafd.b8a8f5","type":"server-state-changed","z":"a3158433.9d1f78","name":"Guest Mode Change","server":"eef5a84.da24f58","entityidfilter":"input_boolean.guestmode","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":150,"y":601,"wires":[["cab70747.d77428"]]},{"id":"1614fe61.738122","type":"link in","z":"a3158433.9d1f78","name":"Home","links":["634ad6f8.7dd188"],"x":75,"y":912,"wires":[["aea97881.44ab78","538cf72b.66f6f8","a2cfceb9.6eebc"]],"outputLabels":["Home"]},{"id":"634ad6f8.7dd188","type":"link out","z":"a3158433.9d1f78","name":"Welcome Home","links":["1614fe61.738122","2eee0fe3.6615e"],"x":2956,"y":559,"wires":[],"inputLabels":["Home"]},{"id":"70cd6553.d9d7cc","type":"comment","z":"a3158433.9d1f78","name":"Some one is now home","info":"","x":160,"y":861,"wires":[]},{"id":"e7ea3a2f.0a3d58","type":"api-current-state","z":"a3158433.9d1f78","name":"Current State Is Any One Home?","server":"eef5a84.da24f58","outputs":1,"halt_if":"","override_topic":true,"entity_id":"input_boolean.isanyonehome","override_payload":true,"override_data":true,"x":1500,"y":640,"wires":[["5d6e628f.7aa7fc"]]},{"id":"a849bd7.c3a3a4","type":"light-scheduler","z":"b8a16318.b66a5","settings":"525afe76.43e05","events":"[]","topic":"","name":"Minutely","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":true,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.minutely","x":80,"y":180,"wires":[["b8da62bc.cac9f"]]},{"id":"b8da62bc.cac9f","type":"api-call-service","z":"b8a16318.b66a5","name":"trigger","server":"5ee4d578.f7736c","service_domain":"input_boolean","service":"toggle","data":"{\"entity_id\":\"input_boolean.node_red\"}","mergecontext":"","x":450,"y":180,"wires":[[]]},{"id":"cf21f0fb.2f7f3","type":"server-state-changed","z":"b8a16318.b66a5","name":"","server":"5ee4d578.f7736c","entityidfilter":"input_boolean.node_red","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":180,"y":240,"wires":[["ec2a3737.b71338"]]},{"id":"ec2a3737.b71338","type":"change","z":"b8a16318.b66a5","name":"Ok","rules":[{"t":"set","p":"payload","pt":"msg","to":"ok","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":240,"wires":[["9214255.4c06fd8"]]},{"id":"9214255.4c06fd8","type":"mqtt out","z":"b8a16318.b66a5","name":"Check In","topic":"checkIn/nodeRED","qos":"0","retain":"","broker":"1b6bc4ba.56ff4b","x":720,"y":240,"wires":[]},{"id":"f4d0131e.967c4","type":"link out","z":"a3158433.9d1f78","name":"No One Home","links":["cf6185e1.eca748"],"x":2956,"y":619,"wires":[],"inputLabels":["NoOneHome"]},{"id":"cb6f8d7b.e7f43","type":"comment","z":"a3158433.9d1f78","name":"Holiday Day Mode","info":"","x":150,"y":1140,"wires":[]},{"id":"cf6185e1.eca748","type":"link in","z":"a3158433.9d1f78","name":"No One Home","links":["f4d0131e.967c4"],"x":275,"y":1320,"wires":[["10c5642a.86179c","606db896.9f2128","e52cf326.a30d3","250b9e2.a5c8862","b0c86ed5.ad287","dc2626b6.cb8a88"]]},{"id":"10c5642a.86179c","type":"trigger","z":"a3158433.9d1f78","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"24","extend":false,"units":"hr","reset":"some_one_home","bytopic":"all","name":"","x":850,"y":1320,"wires":[["c29bf2f6.ae361","6fd0fa0d.478324"]]},{"id":"2eee0fe3.6615e","type":"link in","z":"a3158433.9d1f78","name":"","links":["634ad6f8.7dd188"],"x":275,"y":1360,"wires":[["ab10961d.96e4e8","52988821.c30f68"]]},{"id":"b7036f12.99341","type":"comment","z":"a3158433.9d1f78","name":"No One Home","info":"","x":130,"y":1320,"wires":[]},{"id":"12b35117.aa471f","type":"comment","z":"a3158433.9d1f78","name":"Some one home","info":"","x":140,"y":1360,"wires":[]},{"id":"ab10961d.96e4e8","type":"change","z":"a3158433.9d1f78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"some_one_home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1360,"wires":[["10c5642a.86179c","606db896.9f2128"]]},{"id":"c29bf2f6.ae361","type":"api-call-service","z":"a3158433.9d1f78","name":"Activing holiday - Message","server":"eef5a84.da24f58","service_domain":"notify","service":"mattiphone","data":"{\"message\":\"I miss you! Activing holiday mode\",\"data\":{\"push\":{\"badge\":5,\"category\":\"missyou\"}}}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1100,"y":1320,"wires":[[]]},{"id":"6fd0fa0d.478324","type":"api-call-service","z":"a3158433.9d1f78","name":"Active Holiday Mode","server":"eef5a84.da24f58","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.holidaymode\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1080,"y":1360,"wires":[[]]},{"id":"7bfe7445.6fe4ec","type":"api-call-service","z":"99d64a3d.f4e418","name":"Turn Off Lights","server":"eef5a84.da24f58","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.hue_lightstrip_plus_1\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1060,"y":200,"wires":[[]]},{"id":"626c9c60.30cf24","type":"delay","z":"99d64a3d.f4e418","name":"wait 25 min","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":200,"wires":[["7bfe7445.6fe4ec"]]},{"id":"c097e9b2.498308","type":"server-state-changed","z":"d1172b8b.3d3298","name":"Press Door Bell","server":"eef5a84.da24f58","entityidfilter":"sensor.doorbell","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":120,"y":180,"wires":[["20c3a105.50479e"]]},{"id":"20c3a105.50479e","type":"switch","z":"d1172b8b.3d3298","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Ding","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":180,"wires":[["5eaca17e.92873","758d40c5.72f3a","37de0e87.8c0112"]]},{"id":"5eaca17e.92873","type":"api-call-service","z":"d1172b8b.3d3298","name":"","server":"eef5a84.da24f58","service_domain":"notify","service":"danniiphone","data":"{ \"message\": \"Door ball been pressed\" }","mergecontext":"","output_location":"payload","output_location_type":"msg","x":720,"y":240,"wires":[[]]},{"id":"d5016157.07bab","type":"server-state-changed","z":"99d64a3d.f4e418","name":"Sun Changes","server":"eef5a84.da24f58","entityidfilter":"sun.sun","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":130,"y":200,"wires":[["65dc3645.de0718"]]},{"id":"9c16dc2f.da9ce","type":"server-state-changed","z":"1e454935.091dd7","name":"Test Node Red","server":"eef5a84.da24f58","entityidfilter":"input_boolean.testrednode","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":140,"y":220,"wires":[["3963f0e1.af6e7"]]},{"id":"3963f0e1.af6e7","type":"api-call-service","z":"1e454935.091dd7","name":"","server":"eef5a84.da24f58","service_domain":"notify","service":"mattiphone","data":"{ \"message\": \"Test node red is working\" }","mergecontext":"","output_location":"payload","output_location_type":"msg","x":490,"y":220,"wires":[[]]},{"id":"90da2e6b.cdc5f","type":"function","z":"99d64a3d.f4e418","name":"Check if sun is up","func":"var oldstatus=global.get('sunstate') || \"unknown\";\n\nif (msg.payload == \"above_horizon\" && oldstatus == \"below_horizon\") {\n    global.set('sunstate', msg.payload)\n    return msg;\n} else if ( oldstatus !== msg.payload ) {\n    global.set('sunstate', msg.payload)\n}","outputs":1,"noerr":0,"x":550,"y":200,"wires":[["626c9c60.30cf24","a961f727.8da2a8","6125c1be.4d871"]]},{"id":"54aae492.0bb24c","type":"alexa-local","z":"9a341993.fbc528","devicename":"TV Volume","inputtrigger":false,"x":110,"y":380,"wires":[["cbc719c.43125e8"]]},{"id":"9870fe03.bab26","type":"server-state-changed","z":"1e454935.091dd7","name":"Good Night","server":"5ee4d578.f7736c","entityidfilter":"input_boolean.goodnight","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":130,"y":380,"wires":[["a733e2b3.2fbae","2ddc2933.91dc56"]]},{"id":"a733e2b3.2fbae","type":"switch","z":"1e454935.091dd7","name":"Is On?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":380,"wires":[["12b04a79.bc5196","9567c19f.3fa0b"]]},{"id":"cbc719c.43125e8","type":"switch","z":"9a341993.fbc528","name":"Is On/Off Commmand","property":"on_off_command","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":380,"wires":[["6ad52383.4af5ac"],["97f197c.428fb68"]]},{"id":"6ad52383.4af5ac","type":"switch","z":"9a341993.fbc528","name":"On/Off","property":"on","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":380,"wires":[["1f9ba099.6124df"],["390ecabf.964846"]]},{"id":"390ecabf.964846","type":"api-call-service","z":"9a341993.fbc528","name":"Volume Up","server":"5ee4d578.f7736c","service_domain":"switch","service":"turn_on","data":"{   \"entity_id\": \"switch.tv_volume\" }","mergecontext":"","x":850,"y":420,"wires":[[]]},{"id":"1f9ba099.6124df","type":"api-call-service","z":"9a341993.fbc528","name":"Volume Down","server":"5ee4d578.f7736c","service_domain":"switch","service":"turn_off","data":"{   \"entity_id\": \"switch.tv_volume\" }","mergecontext":"","x":860,"y":380,"wires":[["1f1a5c73.ff2fd4"]]},{"id":"1f1a5c73.ff2fd4","type":"debug","z":"9a341993.fbc528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1060,"y":400,"wires":[]},{"id":"97f197c.428fb68","type":"link out","z":"9a341993.fbc528","name":"Tv - %","links":["2658c03d.8da94"],"x":595,"y":420,"wires":[]},{"id":"2c6f1e07.653282","type":"api-call-service","z":"9a341993.fbc528","name":"Volume Up","server":"5ee4d578.f7736c","service_domain":"switch","service":"turn_on","data":"{   \"entity_id\": \"switch.tv_volume\" }","mergecontext":"","x":390,"y":727,"wires":[[]]},{"id":"3d8d5e31.fd0a32","type":"api-call-service","z":"9a341993.fbc528","name":"Volume Down","server":"5ee4d578.f7736c","service_domain":"switch","service":"turn_off","data":"{   \"entity_id\": \"switch.tv_volume\" }","mergecontext":"","x":400,"y":667,"wires":[[]]},{"id":"2414ca6c.c8f076","type":"switch","z":"9a341993.fbc528","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"49","vt":"str"},{"t":"gt","v":"49","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":200,"y":667,"wires":[["3d8d5e31.fd0a32"],["2c6f1e07.653282"]]},{"id":"a58e6f78.8a615","type":"inject","z":"1e454935.091dd7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":300,"wires":[["3963f0e1.af6e7"]]},{"id":"d518a0a9.2f721","type":"server-state-changed","z":"9a341993.fbc528","name":"Tv Volume Change","server":"5ee4d578.f7736c","entityidfilter":"input_number.tv_volume_change","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":130,"y":869,"wires":[["13adbac7.62ed15","9eb6ca75.7b6cd8"]]},{"id":"13adbac7.62ed15","type":"switch","z":"9a341993.fbc528","name":"Up / Down","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"20","vt":"str"},{"t":"gt","v":"20","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":862,"wires":[["c00c3b87.546058"],[]]},{"id":"c00c3b87.546058","type":"function","z":"9a341993.fbc528","name":"Loop","func":"var msgList = [];\nfor ( var i = 0; i < msg.payload; i++) {\n    msgList.push(msg);\n}\n\n\nreturn [msgList];","outputs":1,"noerr":0,"x":610,"y":849,"wires":[["69004270.0c397c"]]},{"id":"9eb6ca75.7b6cd8","type":"debug","z":"9a341993.fbc528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":949,"wires":[]},{"id":"69004270.0c397c","type":"debug","z":"9a341993.fbc528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":880,"y":849,"wires":[]},{"id":"570f4de2.ba2a44","type":"inject","z":"d1172b8b.3d3298","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":320,"wires":[["20c3a105.50479e","37de0e87.8c0112"]]},{"id":"6e45a7ed.2c8728","type":"api-call-service","z":"d73100a9.0d64d","name":"Is it Bed time - Matt","server":"eef5a84.da24f58","service_domain":"notify","service":"mattiphone","data":"{\"message\":\"Bed time? I'm turning everything off in 5 minutes\",\"data\":{\"push\":{\"badge\":5,\"category\":\"goodnight\"}}}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":2370,"y":260,"wires":[[]]},{"id":"42b9d4f8.a38aac","type":"server-events","z":"d73100a9.0d64d","name":"All","server":"eef5a84.da24f58","event_type":"","x":90,"y":580,"wires":[["719c46bb.4eab48"]]},{"id":"719c46bb.4eab48","type":"switch","z":"d73100a9.0d64d","name":"","property":"payload.event.actionName","propertyType":"msg","rules":[{"t":"eq","v":"STILL_AWAKE_30","vt":"str"},{"t":"eq","v":"STILL_AWAKE_60","vt":"str"},{"t":"eq","v":"STILL_AWAKE_180","vt":"str"},{"t":"eq","v":"GOOD_NIGHT_NOW","vt":"str"},{"t":"eq","v":"DISABLE_AUTO_NIGHT","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":290,"y":580,"wires":[["99df83ab.46e3b","987ed362.eb692","8a9e4a8c.294d28"],["99df83ab.46e3b","be9e3159.3ea59"],["99df83ab.46e3b","69a40cbb.df3674"],["b4bcf0ef.3f114"],["99df83ab.46e3b"]]},{"id":"3ba7ec90.402494","type":"light-scheduler","z":"d73100a9.0d64d","settings":"525afe76.43e05","events":"[{\"start\":{\"dow\":6,\"mod\":1365},\"end\":{\"dow\":0,\"mod\":0}},{\"start\":{\"dow\":5,\"mod\":1350},\"end\":{\"dow\":6,\"mod\":0}},{\"start\":{\"dow\":1,\"mod\":0},\"end\":{\"dow\":1,\"mod\":420}},{\"start\":{\"dow\":2,\"mod\":0},\"end\":{\"dow\":2,\"mod\":420}},{\"start\":{\"dow\":3,\"mod\":0},\"end\":{\"dow\":3,\"mod\":420}},{\"start\":{\"dow\":4,\"mod\":0},\"end\":{\"dow\":4,\"mod\":420}},{\"start\":{\"dow\":5,\"mod\":0},\"end\":{\"dow\":5,\"mod\":420}},{\"start\":{\"dow\":6,\"mod\":0},\"end\":{\"dow\":6,\"mod\":420}},{\"start\":{\"dow\":0,\"mod\":0},\"end\":{\"dow\":0,\"mod\":420}},{\"start\":{\"dow\":2,\"mod\":1290},\"end\":{\"dow\":3,\"mod\":0}},{\"start\":{\"dow\":3,\"mod\":1290},\"end\":{\"dow\":4,\"mod\":0}},{\"start\":{\"dow\":4,\"mod\":1290},\"end\":{\"dow\":5,\"mod\":0}},{\"start\":{\"dow\":0,\"mod\":1290},\"end\":{\"dow\":1,\"mod\":30}},{\"start\":{\"dow\":1,\"mod\":1200},\"end\":{\"dow\":2,\"mod\":0}},{\"start\":{\"dow\":2,\"mod\":1200},\"end\":{\"dow\":2,\"mod\":1290}},{\"start\":{\"dow\":3,\"mod\":1200},\"end\":{\"dow\":3,\"mod\":1290}},{\"start\":{\"dow\":4,\"mod\":1200},\"end\":{\"dow\":4,\"mod\":1290}},{\"start\":{\"dow\":0,\"mod\":1200},\"end\":{\"dow\":0,\"mod\":1290}},{\"start\":{\"dow\":6,\"mod\":1320},\"end\":{\"dow\":6,\"mod\":1365}},{\"start\":{\"dow\":5,\"mod\":1320},\"end\":{\"dow\":5,\"mod\":1350}},{\"start\":{\"dow\":6,\"mod\":1305},\"end\":{\"dow\":6,\"mod\":1320}},{\"start\":{\"dow\":5,\"mod\":1305},\"end\":{\"dow\":5,\"mod\":1320}}]","topic":"","name":"Auto Good Night","onPayload":"On","onPayloadType":"str","offPayload":"Off","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":130,"y":360,"wires":[["6f09f51.c3f470c"]]},{"id":"76161c80.f91cb4","type":"rbe","z":"d73100a9.0d64d","name":"RBE","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":430,"y":400,"wires":[["3ab9d8ee.d56268"]]},{"id":"3ab9d8ee.d56268","type":"switch","z":"d73100a9.0d64d","name":"Is it night","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"On","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":580,"y":400,"wires":[["e259c26a.e4ce5"]]},{"id":"99df83ab.46e3b","type":"change","z":"d73100a9.0d64d","name":"Disabled minutes timer","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":742,"y":510,"wires":[["ef7cb132.ad547","4ebb4395.792b0c","a9920411.01ba78","57928c17.67f954","d86727e.3a6cfd8"]]},{"id":"ef7cb132.ad547","type":"trigger","z":"d73100a9.0d64d","op1":"","op2":"on","op1type":"nul","op2type":"str","duration":"30","extend":false,"units":"min","reset":"off","bytopic":"all","name":"","x":972,"y":610,"wires":[["5d68af75.25cde","57390bd5.d36854"]]},{"id":"4ebb4395.792b0c","type":"trigger","z":"d73100a9.0d64d","op1":"","op2":"on","op1type":"nul","op2type":"str","duration":"60","extend":false,"units":"min","reset":"off","bytopic":"all","name":"","x":972,"y":670,"wires":[["5d68af75.25cde"]]},{"id":"a9920411.01ba78","type":"trigger","z":"d73100a9.0d64d","op1":"","op2":"on","op1type":"nul","op2type":"str","duration":"180","extend":false,"units":"min","reset":"off","bytopic":"all","name":"","x":982,"y":730,"wires":[["5d68af75.25cde"]]},{"id":"5d68af75.25cde","type":"link out","z":"d73100a9.0d64d","name":"Good Night Message","links":["c3aa3a6e.de2c88"],"x":1162,"y":630,"wires":[]},{"id":"c3aa3a6e.de2c88","type":"link in","z":"d73100a9.0d64d","name":"Good Night Message","links":["5d68af75.25cde"],"x":1615,"y":420,"wires":[["a9818634.355818"]]},{"id":"57390bd5.d36854","type":"debug","z":"d73100a9.0d64d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1182,"y":550,"wires":[]},{"id":"987ed362.eb692","type":"debug","z":"d73100a9.0d64d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":732,"y":570,"wires":[]},{"id":"8a9e4a8c.294d28","type":"delay","z":"d73100a9.0d64d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":742,"y":610,"wires":[["ef7cb132.ad547"]]},{"id":"be9e3159.3ea59","type":"delay","z":"d73100a9.0d64d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":742,"y":670,"wires":[["4ebb4395.792b0c"]]},{"id":"69a40cbb.df3674","type":"delay","z":"d73100a9.0d64d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":742,"y":730,"wires":[["a9920411.01ba78"]]},{"id":"e259c26a.e4ce5","type":"api-current-state","z":"d73100a9.0d64d","name":"Holiday Mode","server":"eef5a84.da24f58","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.holidaymode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":780,"y":400,"wires":[["79ee0fe4.ad1bd"]]},{"id":"79ee0fe4.ad1bd","type":"switch","z":"d73100a9.0d64d","name":"No?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":400,"wires":[[],["8cbf3f8d.84749"]]},{"id":"4fe60a4.0699df4","type":"api-call-service","z":"1f9e3480.5be75c","name":"","server":"eef5a84.da24f58","service_domain":"media_player","service":"alexa_tts","data":"{\"message\":\"ding-dong. someone is at the door ding dong ding\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":560,"y":60,"wires":[[]]},{"id":"33cd10bc.f8f8d","type":"inject","z":"1f9e3480.5be75c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":60,"wires":[["4fe60a4.0699df4"]]},{"id":"de1dc5d2.7f3ee8","type":"api-call-service","z":"1f9e3480.5be75c","name":"","server":"eef5a84.da24f58","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.everywhere\",\"message\":\"ding-dong. someone is at the door ding dong ding\"}","mergecontext":"","x":620,"y":160,"wires":[[]]},{"id":"9b8fbc9.c6f7f4","type":"comment","z":"1f9e3480.5be75c","name":"Everywhere doesnt work","info":"","x":330,"y":160,"wires":[]},{"id":"3df4c611.fbbcda","type":"server-state-changed","z":"a068bd5.28a8d4","name":"Hallway Motion","server":"5ee4d578.f7736c","entityidfilter":"sensor.hallway_motion_sensor","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":120,"y":400,"wires":[["c8944506.30f148","e04902ac.5849e"]]},{"id":"84d7dd65.ad146","type":"server-state-changed","z":"a068bd5.28a8d4","name":"Bath Room Motion","server":"5ee4d578.f7736c","entityidfilter":"binary_sensor.bathroom_motion_sensor","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":130,"y":480,"wires":[["8d007ed4.b4b9","90fde8f7.a26cb8"]]},{"id":"64a723bb.a421cc","type":"switch","z":"a068bd5.28a8d4","name":"Triggered?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":460,"wires":[["297e3f11.045a3"]]},{"id":"63ad8708.566668","type":"alexa-local","z":"9a341993.fbc528","devicename":"TV Volume 5","inputtrigger":false,"x":110,"y":483,"wires":[["50cf205.079d4e","4bead05b.4b414"]]},{"id":"50cf205.079d4e","type":"trigger","z":"9a341993.fbc528","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"-20","extend":false,"units":"ms","reset":"stop","bytopic":"all","name":"","x":510,"y":483,"wires":[["cbc719c.43125e8"]]},{"id":"4bead05b.4b414","type":"trigger","z":"9a341993.fbc528","op1":"","op2":"stop","op1type":"nul","op2type":"str","duration":"100","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":300,"y":543,"wires":[["50cf205.079d4e"]]},{"id":"ae6893c1.6ec56","type":"api-call-service","z":"d73100a9.0d64d","name":"Is it Bed time - Danni","server":"eef5a84.da24f58","service_domain":"notify","service":"danniiphone","data":"{\"message\":\"Bed time? I'm turning everything off in 5 minutes\",\"data\":{\"push\":{\"badge\":5,\"category\":\"goodnight\"}}}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":2378,"y":200,"wires":[[]]},{"id":"3b5bbfbe.77c1d","type":"link in","z":"d73100a9.0d64d","name":"Good Night Triggered","links":["12b04a79.bc5196"],"x":55,"y":472,"wires":[["7b1a73dc.d70fec"]]},{"id":"7b1a73dc.d70fec","type":"change","z":"d73100a9.0d64d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":472,"wires":[["76161c80.f91cb4","99df83ab.46e3b"]]},{"id":"55cdae2b.c2b73","type":"comment","z":"d73100a9.0d64d","name":"Good Night Triggerd","info":"","x":130,"y":412,"wires":[]},{"id":"12b04a79.bc5196","type":"link out","z":"1e454935.091dd7","name":"","links":["3b5bbfbe.77c1d"],"x":415,"y":420,"wires":[]},{"id":"65dc3645.de0718","type":"rbe","z":"99d64a3d.f4e418","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":330,"y":200,"wires":[["90da2e6b.cdc5f"]]},{"id":"2fb494b2.81f1ac","type":"server-state-changed","z":"a068bd5.28a8d4","name":"Living Room Cam","server":"5ee4d578.f7736c","entityidfilter":" input_boolean.motionlivingroom","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":130,"y":578,"wires":[["2c51c6d4.5f6e0a","8fb9ba5e.40ec38"]]},{"id":"c8944506.30f148","type":"change","z":"a068bd5.28a8d4","name":"Hallway Motion Detected","rules":[{"t":"set","p":"location","pt":"msg","to":"Hallway Motion Detected","tot":"str"},{"t":"set","p":"image","pt":"msg","to":"https://msb396.duckdns.org/api/camera_proxy/camera.living_room?token=6bf07bbf33a0a37622a7fd25c019ed1fb1169449b4a0b808fafdb5800b2e5c3f","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":400,"wires":[["64a723bb.a421cc","724c4f65.5265a"]]},{"id":"8d007ed4.b4b9","type":"change","z":"a068bd5.28a8d4","name":"Bathroom Motion Detected","rules":[{"t":"set","p":"location","pt":"msg","to":"Bathroom Motion Detected","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":480,"wires":[["64a723bb.a421cc"]]},{"id":"2c51c6d4.5f6e0a","type":"change","z":"a068bd5.28a8d4","name":"Living Motion Detected","rules":[{"t":"set","p":"location","pt":"msg","to":"Living Room Motion Detected","tot":"str"},{"t":"set","p":"image","pt":"msg","to":"https://msb396.duckdns.org/api/camera_proxy/camera.living_room?token=6bf07bbf33a0a37622a7fd25c019ed1fb1169449b4a0b808fafdb5800b2e5c3f","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":578,"wires":[["9e478c97.728cd"]]},{"id":"8fb9ba5e.40ec38","type":"api-current-state","z":"a068bd5.28a8d4","name":"Main Light Status On?","server":"9f26169c.88edf8","outputs":1,"halt_if":"","override_topic":true,"entity_id":"light.living_room_lights","override_payload":true,"override_data":true,"x":680,"y":900,"wires":[["59366fbb.88318"]]},{"id":"17dd0169.527b5f","type":"api-current-state","z":"a068bd5.28a8d4","name":"Good Night Been Trigger","server":"9f26169c.88edf8","outputs":1,"halt_if":"","override_topic":true,"entity_id":"input_boolean.goodnight_beentriggered","override_payload":true,"override_data":true,"x":1150,"y":900,"wires":[["805e34e0.934a48"]]},{"id":"a961f727.8da2a8","type":"api-call-service","z":"99d64a3d.f4e418","name":"Reset - Has Been Triggered","server":"5ee4d578.f7736c","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.goodnight_beentriggered\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1100,"y":260,"wires":[[]]},{"id":"59366fbb.88318","type":"switch","z":"a068bd5.28a8d4","name":"On / Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":880,"y":900,"wires":[["17dd0169.527b5f"],[]]},{"id":"805e34e0.934a48","type":"switch","z":"a068bd5.28a8d4","name":"On / Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1400,"y":900,"wires":[["dee4af6a.215dc"],[]]},{"id":"dee4af6a.215dc","type":"debug","z":"a068bd5.28a8d4","name":"Trigger Light","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1620,"y":900,"wires":[]},{"id":"f0d43a70.70bbb8","type":"api-call-service","z":"1f9e3480.5be75c","name":"Set 60%","server":"eef5a84.da24f58","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.bedroom\",\"volume_level\":\"0.67\"}","mergecontext":"","x":600,"y":260,"wires":[[]]},{"id":"34f12c36.4e6ae4","type":"function","z":"1f9e3480.5be75c","name":"Data","func":"msg.payload.data = \n{\n    \"entity_id\": \"media_player.bedroom\",\n    \"volume_level\": \"1\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":360,"wires":[["92091263.aba56"]]},{"id":"9dbceeb3.9578e","type":"inject","z":"1f9e3480.5be75c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":260,"wires":[["f0d43a70.70bbb8"]]},{"id":"d21e3ef6.d533a","type":"inject","z":"1f9e3480.5be75c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":360,"wires":[["7189aa7c.e53204"]]},{"id":"7189aa7c.e53204","type":"change","z":"1f9e3480.5be75c","name":"Office Alexa","rules":[{"t":"set","p":"alexa","pt":"msg","to":"media_player.bedroom","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":360,"wires":[["34f12c36.4e6ae4"]]},{"id":"92091263.aba56","type":"api-call-service","z":"1f9e3480.5be75c","name":"Set vol","server":"eef5a84.da24f58","service_domain":"media_player","service":"volume_set","data":"{}","mergecontext":"","x":930,"y":360,"wires":[[]]},{"id":"38f95fb7.ba333","type":"template","z":"1f9e3480.5be75c","name":"Format Floor Lamp Right State","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n\"data\":\n    {\n        \"entity_id\" : \"media_player.bedroom\",\n        \"volume_level\": \"0.20\"\n    }\n}","output":"json","x":530,"y":460,"wires":[["973b70d3.bdda1"]]},{"id":"c668dad9.6b1c18","type":"inject","z":"1f9e3480.5be75c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":460,"wires":[["38f95fb7.ba333"]]},{"id":"973b70d3.bdda1","type":"api-call-service","z":"1f9e3480.5be75c","name":"Set vol","server":"eef5a84.da24f58","service_domain":"media_player","service":"volume_set","data":"{}","mergecontext":"","x":790,"y":460,"wires":[[]]},{"id":"8dac45ba.71e228","type":"api-call-service","z":"1f9e3480.5be75c","name":"Set 20%","server":"eef5a84.da24f58","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.bedroom\",\"volume_level\":\"0.20\"}","mergecontext":"","x":600,"y":320,"wires":[[]]},{"id":"f6a57dd8.6de63","type":"inject","z":"1f9e3480.5be75c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":320,"wires":[["8dac45ba.71e228"]]},{"id":"2e171eab.0e1fc2","type":"inject","z":"1f9e3480.5be75c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":200,"wires":[["de1dc5d2.7f3ee8"]]},{"id":"ed7b3a6b.a4ef58","type":"api-call-service","z":"1f9e3480.5be75c","name":"","server":"eef5a84.da24f58","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.bedroom\"}","mergecontext":"","x":840,"y":660,"wires":[[]]},{"id":"4518df0d.a41ba","type":"inject","z":"1f9e3480.5be75c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":660,"wires":[["825f5454.f76ac8"]]},{"id":"825f5454.f76ac8","type":"function","z":"1f9e3480.5be75c","name":"Data","func":"msg.payload = { \"data\" : { \"message\":\"test\" } }\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":660,"wires":[["ed7b3a6b.a4ef58","10ca0df.86a63f2"]]},{"id":"38428bfe.d283b4","type":"api-call-service","z":"1f9e3480.5be75c","name":"","server":"eef5a84.da24f58","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.bedroom\",\"message\":\"test\"}","mergecontext":"","x":880,"y":1060,"wires":[[]]},{"id":"1fc1ff4c.9939c1","type":"inject","z":"1f9e3480.5be75c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":1060,"wires":[["38428bfe.d283b4"]]},{"id":"768e9aa2.a56d04","type":"change","z":"1f9e3480.5be75c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"hello","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":860,"wires":[["345154d3.e49bec","cd8d0050.ddd2f"]]},{"id":"7c316de.10cbf94","type":"api-call-service","z":"1f9e3480.5be75c","name":"","server":"eef5a84.da24f58","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"media_player.bedroom\"}","mergecontext":"","x":960,"y":860,"wires":[[]]},{"id":"5a1e1a57.4d3ef4","type":"inject","z":"1f9e3480.5be75c","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":860,"wires":[["768e9aa2.a56d04"]]},{"id":"345154d3.e49bec","type":"function","z":"1f9e3480.5be75c","name":"Data","func":"msg.payload = { \"data\" : { \"message\": msg.payload } }\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":860,"wires":[["7c316de.10cbf94","e4d47da3.2e518"]]},{"id":"10ca0df.86a63f2","type":"debug","z":"1f9e3480.5be75c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":740,"wires":[]},{"id":"e4d47da3.2e518","type":"debug","z":"1f9e3480.5be75c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":920,"y":960,"wires":[]},{"id":"cd8d0050.ddd2f","type":"debug","z":"1f9e3480.5be75c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":960,"wires":[]},{"id":"6ba76e86.90686","type":"change","z":"1f9e3480.5be75c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"love you","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1180,"wires":[["c5a87f6b.b1fb","b77a59e9.4e7f28"]]},{"id":"ffce4eb3.c9188","type":"api-call-service","z":"1f9e3480.5be75c","name":"","server":"eef5a84.da24f58","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"{{payload.entity_id}}\"}","mergecontext":"","x":940,"y":1180,"wires":[[]]},{"id":"8fddd837.d98638","type":"inject","z":"1f9e3480.5be75c","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1180,"wires":[["6ba76e86.90686"]]},{"id":"c5a87f6b.b1fb","type":"function","z":"1f9e3480.5be75c","name":"Data","func":"msg.payload = { \"data\" : { \"message\": msg.payload, \"entity_id\": \"media_player.bedroom\" } }\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1180,"wires":[["ffce4eb3.c9188","8650fb98.c4a298"]]},{"id":"8650fb98.c4a298","type":"debug","z":"1f9e3480.5be75c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":900,"y":1280,"wires":[]},{"id":"b77a59e9.4e7f28","type":"debug","z":"1f9e3480.5be75c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":1280,"wires":[]},{"id":"76c30690.5cb578","type":"comment","z":"1f9e3480.5be75c","name":"Works","info":"","x":170,"y":760,"wires":[]},{"id":"c57a7609.c118d8","type":"comment","z":"1f9e3480.5be75c","name":"Works","info":"","x":210,"y":960,"wires":[]},{"id":"e12688a5.5e1d08","type":"comment","z":"1f9e3480.5be75c","name":"Works","info":"","x":190,"y":1280,"wires":[]},{"id":"93e63b6f.e1c968","type":"debug","z":"1f9e3480.5be75c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":1400,"wires":[]},{"id":"5021d846.7283b8","type":"inject","z":"1f9e3480.5be75c","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1380,"wires":[[]]},{"id":"9854b95.7c0d448","type":"api-call-service","z":"1f9e3480.5be75c","name":"","server":"eef5a84.da24f58","service_domain":"media_player","service":"alexa_tts","data":"{\"entity_id\":\"{{payload.entity_id}}\"}","mergecontext":"","x":920,"y":1580,"wires":[[]]},{"id":"8e0b0daf.d15a4","type":"inject","z":"1f9e3480.5be75c","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1580,"wires":[["8dbda0c1.7e531"]]},{"id":"aa63685c.307798","type":"function","z":"1f9e3480.5be75c","name":"Data","func":"msg.payload = { \"data\" : { \"message\": msg.say, \"entity_id\": \"media_player.bedroom\" } }\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1580,"wires":[["9854b95.7c0d448","8547ff42.d9c95"]]},{"id":"8547ff42.d9c95","type":"debug","z":"1f9e3480.5be75c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":860,"y":1680,"wires":[]},{"id":"4abbb0cb.f3a51","type":"debug","z":"1f9e3480.5be75c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":1680,"wires":[]},{"id":"2e3e3fc4.55f1","type":"comment","z":"1f9e3480.5be75c","name":"Works","info":"","x":170,"y":1680,"wires":[]},{"id":"e6de8d04.cf81f","type":"template","z":"1f9e3480.5be75c","name":"","field":"say","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hello there","output":"str","x":380,"y":1800,"wires":[["ae8ac878.0b0e98"]]},{"id":"7388c377.5ca32c","type":"inject","z":"1f9e3480.5be75c","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1800,"wires":[["e6de8d04.cf81f"]]},{"id":"ae8ac878.0b0e98","type":"debug","z":"1f9e3480.5be75c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":1800,"wires":[]},{"id":"55bf0f12.25166","type":"inject","z":"1f9e3480.5be75c","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1880,"wires":[["b9c01971.4fe2f8"]]},{"id":"54fbc760.47ff98","type":"debug","z":"1f9e3480.5be75c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":1880,"wires":[]},{"id":"b9c01971.4fe2f8","type":"change","z":"1f9e3480.5be75c","name":"","rules":[{"t":"set","p":"custom","pt":"msg","to":"import","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1880,"wires":[["54fbc760.47ff98"]]},{"id":"8dbda0c1.7e531","type":"template","z":"1f9e3480.5be75c","name":"","field":"say","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hello there","output":"str","x":380,"y":1580,"wires":[["aa63685c.307798","4abbb0cb.f3a51"]]},{"id":"91e2836.c76578","type":"inject","z":"1f9e3480.5be75c","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":2060,"wires":[["48cf8fc4.1d1d5"]]},{"id":"48cf8fc4.1d1d5","type":"change","z":"1f9e3480.5be75c","name":"","rules":[{"t":"set","p":"say","pt":"msg","to":"unauthorised access detected. notifying police, uploading real-time camera footage to remote server","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":2060,"wires":[["498b12ab.93bcac"]]},{"id":"c2c37fd1.f00b","type":"inject","z":"1f9e3480.5be75c","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":2400,"wires":[["52fcb4b.6d9df4c"]]},{"id":"52fcb4b.6d9df4c","type":"api-call-service","z":"1f9e3480.5be75c","name":"","server":"5ee4d578.f7736c","service_domain":"media_player","service":"play_media","data":"{\"entity_id\":\"media_player.bedroom\",\"media_content_id\":\"spotify:playlist:Matt Awesomeness\",\"media_content_type\":\"SPOTIFY\"}","mergecontext":"","x":510,"y":2400,"wires":[[]]},{"id":"8a97349b.6d30a8","type":"delay","z":"1f9e3480.5be75c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":2200,"wires":[["96af5032.9920e"]]},{"id":"96af5032.9920e","type":"change","z":"1f9e3480.5be75c","name":"","rules":[{"t":"set","p":"say","pt":"msg","to":"Warning - Unauthorised access detected, police are on route, live camera footage is now broadcasting","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":2200,"wires":[[]]},{"id":"498b12ab.93bcac","type":"delay","z":"1f9e3480.5be75c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":2120,"wires":[["6d4f455d.b0630c","8a97349b.6d30a8"]]},{"id":"6d4f455d.b0630c","type":"change","z":"1f9e3480.5be75c","name":"","rules":[{"t":"set","p":"say","pt":"msg","to":"Police notification complete","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":2120,"wires":[[]]},{"id":"6437b20a.d659fc","type":"change","z":"a0a4859f.5a2a48","name":"Unauthorised access detected....","rules":[{"t":"set","p":"say","pt":"msg","to":"unauthorised access detected. notifying police, uploading real-time camera footage to remote server","tot":"str"},{"t":"set","p":"alexa","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":506,"wires":[["6cee5fb.dff59a","6a34c1de.08787","d9df1088.5d408"]]},{"id":"91f48a4b.fab718","type":"change","z":"a0a4859f.5a2a48","name":"Warning - Unauthorised access...","rules":[{"t":"set","p":"say","pt":"msg","to":"Warning - Unauthorised access detected, police are on route, live camera footage is now broadcasting","tot":"str"},{"t":"set","p":"alexa","pt":"msg","to":"all","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":620,"wires":[["bc3ee15b.fdf2f"]]},{"id":"6cee5fb.dff59a","type":"delay","z":"a0a4859f.5a2a48","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":500,"wires":[["f7fc0936.ff5968","c86c5f24.b123f"]]},{"id":"f7fc0936.ff5968","type":"change","z":"a0a4859f.5a2a48","name":"Police notification complete","rules":[{"t":"set","p":"say","pt":"msg","to":"Police notification complete","tot":"str"},{"t":"set","p":"alexa","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":560,"wires":[["bc3ee15b.fdf2f"]]},{"id":"e2c54a54.29fbd8","type":"api-call-service","z":"a0a4859f.5a2a48","name":"Lett Matt Know","server":"eef5a84.da24f58","service_domain":"notify","service":"mattiphone","data":"{}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1260,"y":186,"wires":[[]]},{"id":"fe85fa47.00ac98","type":"api-call-service","z":"a0a4859f.5a2a48","name":"Let Danni Know","server":"eef5a84.da24f58","service_domain":"notify","service":"danniiphone","data":"{}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1260,"y":246,"wires":[[]]},{"id":"f2f1fbdd.6f99a8","type":"api-current-state","z":"a0a4859f.5a2a48","name":"Alarm State","server":"5ee4d578.f7736c","outputs":1,"halt_if":"","override_topic":true,"entity_id":"alarm_control_panel.home_alarm","override_payload":true,"override_data":true,"x":390,"y":180,"wires":[["96f1c335.74979"]]},{"id":"96f1c335.74979","type":"switch","z":"a0a4859f.5a2a48","name":"Away Arm?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"armed_away","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":186,"wires":[["379940a7.fafb9"]]},{"id":"379940a7.fafb9","type":"function","z":"a0a4859f.5a2a48","name":"Data","func":"msg.payload = \n{\n  \"data\": \n  {\n    \"message\": msg.location,\n    \"data\": \n    {\n      \"push\": {\n            \"badge\": 5,\n            \"category\": \"alarm\"\n        },\"attachment\": \n      {\n        \"url\": msg.image,\n        \"content-type\": \"jpeg\",\n        \"hide-thumbnail\": false\n      }\n    }\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":186,"wires":[["e2c54a54.29fbd8","fe85fa47.00ac98","99c603ae.2957","ef97081d.287ae8"]]},{"id":"297e3f11.045a3","type":"link out","z":"a068bd5.28a8d4","name":"Motion Detected","links":["7f31a2c4.2e726c"],"x":1035,"y":460,"wires":[]},{"id":"7f31a2c4.2e726c","type":"link in","z":"a0a4859f.5a2a48","name":"Trigger Alarm","links":["297e3f11.045a3"],"x":100,"y":186,"wires":[["f2f1fbdd.6f99a8"]]},{"id":"6635c661.8eab48","type":"switch","z":"a0a4859f.5a2a48","name":"Disarmed?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"disarmed","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":846,"wires":[["865758e5.35ac18","ecc17d46.07f9f","9bb7e742.fe6778"]]},{"id":"3c657c4b.85c364","type":"server-state-changed","z":"a0a4859f.5a2a48","name":"Alarm State Changes","server":"5ee4d578.f7736c","entityidfilter":"alarm_control_panel.home_alarm","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":180,"y":846,"wires":[["6635c661.8eab48","ada5b377.defe8"]]},{"id":"c86c5f24.b123f","type":"trigger","z":"a0a4859f.5a2a48","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"-12","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1070,"y":620,"wires":[["91f48a4b.fab718"]]},{"id":"865758e5.35ac18","type":"change","z":"a0a4859f.5a2a48","name":"Alarm Disarmed","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":620,"wires":[["c86c5f24.b123f","6a34c1de.08787","acec5703.4eb318","99c603ae.2957","ef97081d.287ae8"]]},{"id":"ecc17d46.07f9f","type":"change","z":"a0a4859f.5a2a48","name":"Alarm Disarmed","rules":[{"t":"set","p":"say","pt":"msg","to":"Alarm Disarmed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":820,"wires":[["1ff7fcd1.1bdbe3"]]},{"id":"ada5b377.defe8","type":"switch","z":"a0a4859f.5a2a48","name":"Arming?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"pending","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":380,"y":926,"wires":[["2e706b9a.44a264"]]},{"id":"88b513bf.db837","type":"change","z":"a0a4859f.5a2a48","name":"Alarm is arming","rules":[{"t":"set","p":"say","pt":"msg","to":"Alarm is arming.. you have 25 seconds","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":940,"wires":[["1ff7fcd1.1bdbe3"]]},{"id":"5f3ed30a.fb17ac","type":"change","z":"a0a4859f.5a2a48","name":"Alarm Armed","rules":[{"t":"set","p":"say","pt":"msg","to":"Alarm is armed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":1060,"wires":[["1ff7fcd1.1bdbe3"]]},{"id":"e1b8ad57.cdca","type":"change","z":"a0a4859f.5a2a48","name":"10 Seconds","rules":[{"t":"set","p":"say","pt":"msg","to":"10 Seconds","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":1000,"wires":[["1ff7fcd1.1bdbe3"]]},{"id":"6a34c1de.08787","type":"trigger","z":"a0a4859f.5a2a48","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"-1600","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":1020,"y":700,"wires":[["445092e8.5863ac","69c11c8f.e0f004"]]},{"id":"445092e8.5863ac","type":"api-call-service","z":"a0a4859f.5a2a48","name":"","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"group.all_lights\",\"rgb_color\":[255,0,0],\"brightness_pct\":100,\"transition\":0}","mergecontext":"","x":1270,"y":740,"wires":[[]]},{"id":"69c11c8f.e0f004","type":"delay","z":"a0a4859f.5a2a48","name":"","pauseType":"delay","timeout":"800","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1250,"y":700,"wires":[["b9d838fa.304b58"]]},{"id":"acec5703.4eb318","type":"trigger","z":"a0a4859f.5a2a48","op1":"1","op2":"","op1type":"str","op2type":"nul","duration":"15","extend":false,"units":"min","reset":"","bytopic":"all","name":"Only Retrigger Once Every 15 Minute","x":890,"y":340,"wires":[["6437b20a.d659fc"]]},{"id":"b9d838fa.304b58","type":"api-call-service","z":"a0a4859f.5a2a48","name":"","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"group.all_lights\",\"transition\":0}","mergecontext":"","x":1470,"y":700,"wires":[[]]},{"id":"72d4be48.c6af7","type":"comment","z":"a0a4859f.5a2a48","name":"Flash All Lights","info":"","x":1000,"y":660,"wires":[]},{"id":"d9df1088.5d408","type":"change","z":"a0a4859f.5a2a48","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"unauthorised access detected. notifying police, uploading real-time camera footage to remote server","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":726,"wires":[["82b8c853.e3ad78"]]},{"id":"82b8c853.e3ad78","type":"delay","z":"a0a4859f.5a2a48","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":726,"wires":[["6a34c1de.08787"]]},{"id":"fc1c2aa.3cadfd8","type":"comment","z":"a0a4859f.5a2a48","name":"Diabled flashing lisghts after 5 minutes","info":"","x":330,"y":686,"wires":[]},{"id":"4a0d618f.9e4e3","type":"inject","z":"1f9e3480.5be75c","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":2560,"wires":[["cd0f8311.b8f6"]]},{"id":"cd0f8311.b8f6","type":"change","z":"1f9e3480.5be75c","name":"","rules":[{"t":"set","p":"say","pt":"msg","to":"hello","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":2560,"wires":[[]]},{"id":"758d40c5.72f3a","type":"change","z":"d1172b8b.3d3298","name":"The door bell has been pressed The door bell has been pressed","rules":[{"t":"set","p":"say","pt":"msg","to":"The door bell has been pressed The door bell has been pressed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":340,"wires":[["eabcdf61.a106d"]]},{"id":"ff31cac4.b7b148","type":"change","z":"d73100a9.0d64d","name":"3 minutes","rules":[{"t":"set","p":"say","pt":"msg","to":"I'll be turning everyoff in 3 minutes","tot":"str"},{"t":"set","p":"alexa","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2540,"y":400,"wires":[["747f847d.8cf0ec"]]},{"id":"57928c17.67f954","type":"trigger","z":"d73100a9.0d64d","op1":"","op2":"on","op1type":"nul","op2type":"str","duration":"2","extend":false,"units":"min","reset":"","bytopic":"all","name":"Wait 2 Min","x":2350,"y":400,"wires":[["ff31cac4.b7b148"]]},{"id":"5990015c.a324","type":"switch","z":"f92add19.c43b9","name":"What is it?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"None","vt":"str"},{"t":"eq","v":"Autonight - Wait 30 Minutes","vt":"str"},{"t":"eq","v":"Autonight - Wait An Hour","vt":"str"},{"t":"eq","v":"Autonight - Wait 3 Hour","vt":"str"},{"t":"eq","v":"Bed Room - Night","vt":"str"},{"t":"eq","v":"Living Room - Natural","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":350,"y":460,"wires":[[],["8322431a.be704"],["d89c7a04.840df8"],["5866fa08.5976e4"],[],["3a998864.180dc8"]]},{"id":"8322431a.be704","type":"link out","z":"f92add19.c43b9","name":"Autonight - Wait 30 Minutes","links":["f7000620.ba0c58"],"x":515,"y":220,"wires":[]},{"id":"d89c7a04.840df8","type":"link out","z":"f92add19.c43b9","name":"Autonight - Wait An Hour","links":["7534d7f.7558128"],"x":515,"y":260,"wires":[]},{"id":"5866fa08.5976e4","type":"link out","z":"f92add19.c43b9","name":"Autonight - Wait 3 Hour","links":["e00bbec2.02f19"],"x":515,"y":300,"wires":[]},{"id":"e00bbec2.02f19","type":"link in","z":"d73100a9.0d64d","name":"Rec - Autonight - Wait 3 Hour","links":["5866fa08.5976e4"],"x":241,"y":792,"wires":[["69a40cbb.df3674","99df83ab.46e3b"]]},{"id":"7534d7f.7558128","type":"link in","z":"d73100a9.0d64d","name":"Rec - Autonight - Wait An Hour","links":["d89c7a04.840df8"],"x":240,"y":752,"wires":[["be9e3159.3ea59","99df83ab.46e3b"]]},{"id":"f7000620.ba0c58","type":"link in","z":"d73100a9.0d64d","name":"Rec - Autonight - Wait 30 Minute","links":["8322431a.be704"],"x":240,"y":712,"wires":[["8a9e4a8c.294d28","99df83ab.46e3b"]]},{"id":"a79f32af.f0649","type":"api-call-service","z":"f92add19.c43b9","name":"Set to none","server":"5ee4d578.f7736c","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.set_scenes\",\"option\":\"None\"}","mergecontext":"","x":350,"y":360,"wires":[[]]},{"id":"cd0bc73b.5cabd8","type":"switch","z":"f92add19.c43b9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"None","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":360,"wires":[[],["a79f32af.f0649"]]},{"id":"c63b1959.997848","type":"server-state-changed","z":"f92add19.c43b9","name":"On Change","server":"5ee4d578.f7736c","entityidfilter":"input_select.set_scenes","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":110,"y":460,"wires":[["5990015c.a324","cd0bc73b.5cabd8"]]},{"id":"3a998864.180dc8","type":"api-call-service","z":"f92add19.c43b9","name":"Living Room - Natural","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"group.all_lights\",\"color_temp\":393,\"brightness_pct\":100,\"transition\":0}","mergecontext":"","x":640,"y":540,"wires":[[]]},{"id":"7de48d03.0ee034","type":"change","z":"a0a4859f.5a2a48","name":"Alarm is still active","rules":[{"t":"set","p":"say","pt":"msg","to":"Alarm is still active... YOU HAVE 60 SECONDS... Alarm is still active","tot":"str"},{"t":"set","p":"alexa","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":326,"wires":[["e5e95e2e.4d267"]]},{"id":"99c603ae.2957","type":"trigger","z":"a0a4859f.5a2a48","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"60","extend":false,"units":"s","reset":"","bytopic":"all","name":"wait 60 seconds","x":820,"y":280,"wires":[["acec5703.4eb318"]]},{"id":"adc4fcb0.0b27d","type":"server-events","z":"a0a4859f.5a2a48","name":"All","server":"eef5a84.da24f58","event_type":"","x":150,"y":1126,"wires":[["10e0084a.b4fab8"]]},{"id":"10e0084a.b4fab8","type":"switch","z":"a0a4859f.5a2a48","name":"","property":"payload.event.actionName","propertyType":"msg","rules":[{"t":"eq","v":"SILENCE_ALARM","vt":"str"},{"t":"eq","v":"SOUND_ALARM","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":1126,"wires":[["85e36c72.09a89"],["6437b20a.d659fc"]]},{"id":"85e36c72.09a89","type":"api-call-service","z":"a0a4859f.5a2a48","name":"Disarm Alarm","server":"5ee4d578.f7736c","service_domain":"alarm_control_panel","service":"alarm_disarm","data":"{\"entity_id\":\"alarm_control_panel.home_alarm\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":520,"y":1120,"wires":[[]]},{"id":"50c77ae0.374734","type":"server-state-changed","z":"a068bd5.28a8d4","name":"Office Door Changed","server":"5ee4d578.f7736c","entityidfilter":" binary_sensor.office_door","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":140,"y":1160,"wires":[["7a1b233c.0dea0c","5f4591ce.85447"]]},{"id":"b71828ba.c73a48","type":"api-current-state","z":"a068bd5.28a8d4","name":"","server":"5ee4d578.f7736c","outputs":1,"halt_if":"","override_topic":true,"entity_id":"sensor.hallway_motion_sensor","override_payload":true,"override_data":true,"x":630,"y":1160,"wires":[["2fde2058.e671d"]]},{"id":"7a1b233c.0dea0c","type":"switch","z":"a068bd5.28a8d4","name":"Is Open?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":1160,"wires":[["b71828ba.c73a48"],[]]},{"id":"79ce256a.20c2bc","type":"api-call-service","z":"a068bd5.28a8d4","name":"Turn on office Light","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.office_light\"}","mergecontext":"","x":1550,"y":1160,"wires":[[]]},{"id":"2fde2058.e671d","type":"switch","z":"a068bd5.28a8d4","name":"Is Dark?","property":"data.attributes.dark","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":1160,"wires":[["c3fa892c.1153a8"],[]]},{"id":"c3fa892c.1153a8","type":"api-current-state","z":"a068bd5.28a8d4","name":"Is office light strip","server":"5ee4d578.f7736c","outputs":1,"halt_if":"","override_topic":true,"entity_id":"light.hue_lightstrip_plus_1_2","override_payload":true,"override_data":true,"x":1110,"y":1160,"wires":[["8fd71ac8.57b408"]]},{"id":"8fd71ac8.57b408","type":"switch","z":"a068bd5.28a8d4","name":"is On","property":"data.attributes.dark","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1310,"y":1160,"wires":[["79ce256a.20c2bc"],[]]},{"id":"68e6824a.2d889c","type":"comment","z":"a068bd5.28a8d4","name":"Office Door","info":"","x":110,"y":1120,"wires":[]},{"id":"d1510a6c.f071b8","type":"comment","z":"a068bd5.28a8d4","name":"Trun on Lving Room Light ","info":"","x":690,"y":860,"wires":[]},{"id":"5f4591ce.85447","type":"change","z":"a068bd5.28a8d4","name":"Office Door Open","rules":[{"t":"set","p":"location","pt":"msg","to":"Office Door Open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":840,"wires":[["64a723bb.a421cc"]]},{"id":"6c7165c5.5f018c","type":"server-state-changed","z":"a068bd5.28a8d4","name":"Font Door Open","server":"5ee4d578.f7736c","entityidfilter":" binary_sensor.font_door","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":120,"y":638,"wires":[["9c585f5f.3d0d4"]]},{"id":"9c585f5f.3d0d4","type":"change","z":"a068bd5.28a8d4","name":"Font Door Open","rules":[{"t":"set","p":"location","pt":"msg","to":"Font Door Open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":638,"wires":[["64a723bb.a421cc","f6396294.e81f6"]]},{"id":"ef97081d.287ae8","type":"trigger","z":"a0a4859f.5a2a48","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Send Once","x":1270,"y":326,"wires":[["7de48d03.0ee034"]]},{"id":"f6396294.e81f6","type":"switch","z":"a068bd5.28a8d4","name":"Open?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":638,"wires":[["227f7678.7fa0aa","cc2fcdb8.ee0ea","19935555.b95fab"],["82e7bf66.f63d3"]],"outputLabels":["Yes",null]},{"id":"227f7678.7fa0aa","type":"api-current-state","z":"a068bd5.28a8d4","name":"","server":"5ee4d578.f7736c","outputs":1,"halt_if":"","override_topic":true,"entity_id":"sensor.hallway_motion_sensor","override_payload":true,"override_data":true,"x":1215,"y":638,"wires":[["f767de46.4bd93"]]},{"id":"f767de46.4bd93","type":"switch","z":"a068bd5.28a8d4","name":"Is Dark?","property":"data.attributes.dark","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1505,"y":638,"wires":[["3749a9c5.6b8cd6","f214d51b.258148","259dae36.504b82","f052224f.c6133"]]},{"id":"3749a9c5.6b8cd6","type":"trigger","z":"a068bd5.28a8d4","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"8","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":1695,"y":598,"wires":[["cd33901b.d8ea"]]},{"id":"724c4f65.5265a","type":"switch","z":"a068bd5.28a8d4","name":"Triggered?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1115,"y":598,"wires":[["b2acb1ef.a03ef"]]},{"id":"b2acb1ef.a03ef","type":"change","z":"a068bd5.28a8d4","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"unauthorised access detected. notifying police, uploading real-time camera footage to remote server","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":598,"wires":[["3749a9c5.6b8cd6"]]},{"id":"cd33901b.d8ea","type":"api-call-service","z":"a068bd5.28a8d4","name":"","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.hallway_light\"}","mergecontext":"","x":1915,"y":598,"wires":[[]]},{"id":"f214d51b.258148","type":"api-call-service","z":"a068bd5.28a8d4","name":"","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.hallway_light\"}","mergecontext":"","x":1715,"y":638,"wires":[[]]},{"id":"259dae36.504b82","type":"api-call-service","z":"a068bd5.28a8d4","name":"","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.living_room_lights\",\"rgb_color\":[255,213,170],\"brightness_pct\":\"70\",\"transition\":\"10\"}","mergecontext":"","x":1715,"y":678,"wires":[[]]},{"id":"f052224f.c6133","type":"trigger","z":"a068bd5.28a8d4","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"8","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":1730,"y":758,"wires":[["1e5a6c60.ce90f4"]]},{"id":"9e478c97.728cd","type":"switch","z":"a068bd5.28a8d4","name":"Triggered?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1150,"y":758,"wires":[["afeb8d84.4c3d5"]]},{"id":"afeb8d84.4c3d5","type":"change","z":"a068bd5.28a8d4","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"unauthorised access detected. notifying police, uploading real-time camera footage to remote server","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":758,"wires":[["f052224f.c6133"]]},{"id":"1e5a6c60.ce90f4","type":"api-call-service","z":"a068bd5.28a8d4","name":"Turn Off Light","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.living_room_lights\"}","mergecontext":"","x":1940,"y":758,"wires":[[]]},{"id":"7ec1d59f.62175c","type":"comment","z":"a068bd5.28a8d4","name":"Turn off hallway if no motion has been detected after","info":"","x":1235,"y":558,"wires":[]},{"id":"a7e0ed6.c09071","type":"comment","z":"a068bd5.28a8d4","name":"Todo - disable if camera is offline","info":"","x":1790,"y":798,"wires":[]},{"id":"37de0e87.8c0112","type":"api-call-service","z":"d1172b8b.3d3298","name":"","server":"5ee4d578.f7736c","service_domain":"notify","service":"mattiphone","data":"{ \"message\": \"Door ball been pressed\" }","mergecontext":"","output_location":"payload","output_location_type":"msg","x":720,"y":180,"wires":[[]],"icon":"node-red/batch.png"},{"id":"27acd434.f1e89c","type":"inject","z":"a068bd5.28a8d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1280,"y":1300,"wires":[["79ce256a.20c2bc"]]},{"id":"cc2fcdb8.ee0ea","type":"link out","z":"a068bd5.28a8d4","name":"Font Door Open","links":["ccedfcf.8e988","ab6d64fd.ed48b8","564fc868.c06818"],"x":1095,"y":718,"wires":[]},{"id":"ccedfcf.8e988","type":"link in","z":"dceb45d8.425368","name":"","links":["cc2fcdb8.ee0ea"],"x":75,"y":100,"wires":[["c10515b6.577c78","22eeb88e.7e8268"]]},{"id":"ce93041d.165928","type":"light-scheduler","z":"dceb45d8.425368","settings":"525afe76.43e05","events":"[{\"start\":{\"dow\":1,\"mod\":705},\"end\":{\"dow\":1,\"mod\":900}},{\"start\":{\"dow\":2,\"mod\":705},\"end\":{\"dow\":2,\"mod\":900}},{\"start\":{\"dow\":3,\"mod\":705},\"end\":{\"dow\":3,\"mod\":900}},{\"start\":{\"dow\":4,\"mod\":705},\"end\":{\"dow\":4,\"mod\":900}},{\"start\":{\"dow\":5,\"mod\":705},\"end\":{\"dow\":5,\"mod\":900}},{\"start\":{\"dow\":1,\"mod\":660},\"end\":{\"dow\":1,\"mod\":675}},{\"start\":{\"dow\":1,\"mod\":690},\"end\":{\"dow\":1,\"mod\":705}},{\"start\":{\"dow\":1,\"mod\":675},\"end\":{\"dow\":1,\"mod\":690}},{\"start\":{\"dow\":2,\"mod\":660},\"end\":{\"dow\":2,\"mod\":705}},{\"start\":{\"dow\":3,\"mod\":660},\"end\":{\"dow\":3,\"mod\":705}},{\"start\":{\"dow\":4,\"mod\":660},\"end\":{\"dow\":4,\"mod\":705}},{\"start\":{\"dow\":5,\"mod\":660},\"end\":{\"dow\":5,\"mod\":705}}]","topic":"","name":"Lunch Time","onPayload":"On","onPayloadType":"str","offPayload":"Off","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":130,"y":40,"wires":[["d0306c25.0b7d6"]]},{"id":"d0306c25.0b7d6","type":"change","z":"dceb45d8.425368","name":"SET LunchTime Var","rules":[{"t":"set","p":"LunchTime","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":40,"wires":[[]]},{"id":"bb795d4b.f8fac","type":"switch","z":"dceb45d8.425368","name":"Is Lunch Time?","property":"LunchTime","propertyType":"global","rules":[{"t":"eq","v":"On","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":900,"y":100,"wires":[["653873b9.0eb50c","15e0bafe.3d9b75","a68116a7.421e68","4bc559fe.71cd38"]]},{"id":"15e0bafe.3d9b75","type":"change","z":"dceb45d8.425368","name":"Have a good lunch","rules":[{"t":"set","p":"say","pt":"msg","to":"Have a good lunch. Timer set","tot":"str"},{"t":"set","p":"alexa","pt":"msg","to":"down","tot":"str"},{"t":"set","p":"LunchTime.BeenTrigged","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":100,"wires":[["bb3f35b4.b93fa8"]]},{"id":"912e1c7f.de2ae","type":"delay","z":"dceb45d8.425368","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":100,"wires":[["bb795d4b.f8fac"]]},{"id":"f6271c50.692e3","type":"change","z":"dceb45d8.425368","name":"You been home for 50 minutes","rules":[{"t":"set","p":"say","pt":"msg","to":"You been home for 50 minutes... almost time for you to go back","tot":"str"},{"t":"set","p":"alexa","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":160,"wires":[["bb3f35b4.b93fa8"]]},{"id":"653873b9.0eb50c","type":"delay","z":"dceb45d8.425368","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1110,"y":160,"wires":[["f6271c50.692e3","b8fb1826.2cb798"]]},{"id":"c10515b6.577c78","type":"change","z":"dceb45d8.425368","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"unauthorised access detected. notifying police, uploading real-time camera footage to remote server","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":160,"wires":[["653873b9.0eb50c","4bc559fe.71cd38"]]},{"id":"741edf94.e15ec","type":"change","z":"dceb45d8.425368","name":"You been home for an hour","rules":[{"t":"set","p":"say","pt":"msg","to":"You been home for an hour - got back to work","tot":"str"},{"t":"set","p":"alexa","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":260,"wires":[["bb3f35b4.b93fa8"]]},{"id":"4bc559fe.71cd38","type":"delay","z":"dceb45d8.425368","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1110,"y":260,"wires":[["741edf94.e15ec","9a499cf3.62e0b"]]},{"id":"cce31b67.574948","type":"server-state-changed","z":"8e7e0d7a.addec","name":"","server":"5ee4d578.f7736c","entityidfilter":"sensor.octoprint_current_state","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":210,"y":220,"wires":[["873af433.e7bb78"]]},{"id":"526edb3f.dd7b14","type":"api-call-service","z":"8e7e0d7a.addec","name":"Lett Matt Know","server":"eef5a84.da24f58","service_domain":"notify","service":"mattiphone","data":"{}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":860,"y":220,"wires":[[]]},{"id":"873af433.e7bb78","type":"function","z":"8e7e0d7a.addec","name":"Data","func":"msg.payload = \n{\n  \"data\": \n  {\n    \"message\": \"Printer new Status: \" + msg.payload\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":220,"wires":[["526edb3f.dd7b14"]]},{"id":"43e2b52e.29fe9c","type":"api-call-service","z":"cd950567.f864b8","name":"Lett Matt Know","server":"eef5a84.da24f58","service_domain":"notify","service":"mattiphone","data":"{}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":920,"y":80,"wires":[["64806442.02429c"]]},{"id":"b3c666ee.88c4a8","type":"function","z":"cd950567.f864b8","name":"Data","func":"msg.payload = \n{\n  \"data\": \n  {\n    \"message\": \"is Matt here: \" + msg.payload\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":80,"wires":[["43e2b52e.29fe9c","d0d078de.15a088"]]},{"id":"4d976d7c.19f594","type":"server-state-changed","z":"cd950567.f864b8","name":"","server":"5ee4d578.f7736c","entityidfilter":"sensor.matt_living_room","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":220,"y":80,"wires":[["b3c666ee.88c4a8","57c6dcb1.08eb84","7e0e73e0.7ea04c"]]},{"id":"2b1631ab.6373ce","type":"api-call-service","z":"cd950567.f864b8","name":"Lett Matt Know","server":"eef5a84.da24f58","service_domain":"notify","service":"mattiphone","data":"{}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":920,"y":160,"wires":[[]]},{"id":"3c08ccb.8006134","type":"function","z":"cd950567.f864b8","name":"Data","func":"msg.payload = \n{\n  \"data\": \n  {\n    \"message\": \"is Danni here: \" + msg.payload\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":160,"wires":[["2b1631ab.6373ce"]]},{"id":"3e1e5c2e.53cbe4","type":"server-state-changed","z":"cd950567.f864b8","name":"","server":"5ee4d578.f7736c","entityidfilter":"sensor.danni_living_room","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":220,"y":160,"wires":[["3c08ccb.8006134","57c6dcb1.08eb84"]]},{"id":"3939d20a.94fe3e","type":"mqtt out","z":"cd950567.f864b8","name":"Scan For Who Left","topic":"btmonitor/scan/DEPART","qos":"0","retain":"false","broker":"1b6bc4ba.56ff4b","x":810,"y":420,"wires":[]},{"id":"55bdf0a5.df3c4","type":"trigger","z":"cd950567.f864b8","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"-15","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":550,"y":420,"wires":[["3939d20a.94fe3e"]]},{"id":"60eb60ce.fc86c","type":"inject","z":"cd950567.f864b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":500,"wires":[["3939d20a.94fe3e"]]},{"id":"82e7bf66.f63d3","type":"link out","z":"a068bd5.28a8d4","name":"Font Door Close","links":["3f687ec7.49a272","3d0ad1be.cff38e"],"x":970,"y":718,"wires":[]},{"id":"3d0ad1be.cff38e","type":"link in","z":"cd950567.f864b8","name":"","links":["82e7bf66.f63d3"],"x":75,"y":380,"wires":[["a4fe4e36.81ffd","ab08cc66.4d35a"]]},{"id":"a4fe4e36.81ffd","type":"trigger","z":"cd950567.f864b8","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":250,"y":420,"wires":[["55bdf0a5.df3c4"]]},{"id":"ab08cc66.4d35a","type":"trigger","z":"cd950567.f864b8","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":250,"y":320,"wires":[["57c6dcb1.08eb84"]]},{"id":"57c6dcb1.08eb84","type":"change","z":"cd950567.f864b8","name":"Disable Rescan","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":320,"wires":[["55bdf0a5.df3c4","a4fe4e36.81ffd"]]},{"id":"89f71aea.e8f178","type":"comment","z":"cd950567.f864b8","name":"Blue Tooth Tracker","info":"","x":150,"y":40,"wires":[]},{"id":"6827bf6c.c4045","type":"comment","z":"cd950567.f864b8","name":"Font Door Closed","info":"","x":140,"y":260,"wires":[]},{"id":"a631dd8.5d2e22","type":"comment","z":"48ba348c.61270c","name":"Font Door Open For More 20 Minutes","info":"","x":210,"y":360,"wires":[]},{"id":"564fc868.c06818","type":"link in","z":"48ba348c.61270c","name":"Door Open","links":["cc2fcdb8.ee0ea"],"x":75,"y":420,"wires":[["88571fc3.58e4c"]]},{"id":"3f687ec7.49a272","type":"link in","z":"48ba348c.61270c","name":"Door Closed","links":["82e7bf66.f63d3"],"x":75,"y":480,"wires":[["6ecdefb4.76dc2"]]},{"id":"88571fc3.58e4c","type":"trigger","z":"48ba348c.61270c","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"20","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":410,"y":420,"wires":[["da0bfd7.66d92"]]},{"id":"6ecdefb4.76dc2","type":"change","z":"48ba348c.61270c","name":"Clear","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":480,"wires":[["88571fc3.58e4c"]]},{"id":"da0bfd7.66d92","type":"change","z":"48ba348c.61270c","name":"Fault Details","rules":[{"t":"set","p":"fault.name","pt":"msg","to":"Font Door Open for More Then 20 Minutes","tot":"str"},{"t":"set","p":"fault.item","pt":"msg","to":"Font Door Sensor","tot":"str"},{"t":"set","p":"fault.actiontofix","pt":"msg","to":"Restart office node mcu. Note open the office door","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":420,"wires":[["82cfabc3.c2c478"]]},{"id":"82cfabc3.c2c478","type":"link out","z":"48ba348c.61270c","name":"Fault Detected","links":["c6717092.75d4b"],"x":875,"y":420,"wires":[]},{"id":"c6717092.75d4b","type":"link in","z":"48ba348c.61270c","name":"","links":["82cfabc3.c2c478","20b5a1d8.a650fe","a1cec523.a181e8","f7cb7ddf.cc703","48a7f807.8583d8","a6165491.aa9ba8","b32e27f7.8449f8","f6daaed4.01e24","ab9413e4.3c106"],"x":75,"y":240,"wires":[["347552a6.bfcbce"]]},{"id":"a0fe31c8.e093b","type":"comment","z":"48ba348c.61270c","name":"Fault Detected","info":"","x":140,"y":200,"wires":[]},{"id":"347552a6.bfcbce","type":"function","z":"48ba348c.61270c","name":"Bulid Message","func":"msg = {\n   \n   to:\"matbrewer396@gmail.com\",\n   topic: \"Fault Detected - \" + msg.fault.name,\n   payload: \"Item: \"  + msg.fault.item + \"\\nAction To Fix: \" + msg.fault.actiontofix \n};\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":240,"wires":[["ca7402bc.ba7c8"]]},{"id":"a0436269.f0533","type":"e-mail","z":"a0cc6149.1f76e","server":"smtp.gmail.com","port":"465","secure":true,"name":"matbrewer396@gmail.com","dname":"Send email","x":270,"y":40,"wires":[]},{"id":"ca7402bc.ba7c8","type":"subflow:a0cc6149.1f76e","z":"48ba348c.61270c","name":"","x":550,"y":240,"wires":[]},{"id":"bc4d59ad.37cb48","type":"inject","z":"48ba348c.61270c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":500,"y":500,"wires":[["da0bfd7.66d92"]]},{"id":"8ee737f2.2dc868","type":"function","z":"f5eab19a.7cf17","name":"Bulid Message","func":"msg = {\n   \n   to:\"matbrewer396@gmail.com\",\n   topic: \"Error Handler - \" + msg.error.message,\n   payload: \"Error Message: \"  + msg.error.message + \"\\nStack: \" + msg.error.stack + \"\\nmsg: \" + JSON.stringify(msg)\n};\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":60,"wires":[["605540a6.9e19d"]]},{"id":"605540a6.9e19d","type":"subflow:a0cc6149.1f76e","z":"f5eab19a.7cf17","name":"","x":470,"y":60,"wires":[]},{"id":"6a988d08.ea81a4","type":"catch","z":"48ba348c.61270c","name":"","scope":null,"x":120,"y":80,"wires":[["c600d799.d43db8"]]},{"id":"c600d799.d43db8","type":"subflow:f5eab19a.7cf17","z":"48ba348c.61270c","name":"","x":350,"y":80,"wires":[]},{"id":"b13f59.51b620a8","type":"comment","z":"48ba348c.61270c","name":"Error Handler","info":"","x":130,"y":40,"wires":[]},{"id":"a5ab26c6.8faf88","type":"catch","z":"8e7e0d7a.addec","name":"","scope":null,"x":100,"y":80,"wires":[["64e7ff84.96817"]]},{"id":"64e7ff84.96817","type":"subflow:f5eab19a.7cf17","z":"8e7e0d7a.addec","name":"","x":330,"y":80,"wires":[]},{"id":"62236147.7d8e1","type":"comment","z":"8e7e0d7a.addec","name":"Error Handler","info":"","x":110,"y":40,"wires":[]},{"id":"33d0326a.f58f6e","type":"catch","z":"dceb45d8.425368","name":"","scope":null,"x":120,"y":400,"wires":[["18b03c93.6dde53"]]},{"id":"18b03c93.6dde53","type":"subflow:f5eab19a.7cf17","z":"dceb45d8.425368","name":"","x":350,"y":400,"wires":[]},{"id":"dbb967e1.d73fe8","type":"comment","z":"dceb45d8.425368","name":"Error Handler","info":"","x":130,"y":360,"wires":[]},{"id":"75add89.a073b28","type":"catch","z":"a0a4859f.5a2a48","name":"","scope":null,"x":140,"y":80,"wires":[["dea2d204.a3696"]]},{"id":"dea2d204.a3696","type":"subflow:f5eab19a.7cf17","z":"a0a4859f.5a2a48","name":"","x":370,"y":80,"wires":[]},{"id":"7d109bd.4b04e64","type":"comment","z":"a0a4859f.5a2a48","name":"Error Handler","info":"","x":150,"y":40,"wires":[]},{"id":"ae08baef.481318","type":"catch","z":"cd950567.f864b8","name":"","scope":null,"x":120,"y":660,"wires":[["fd8af2a8.a89f8"]]},{"id":"fd8af2a8.a89f8","type":"subflow:f5eab19a.7cf17","z":"cd950567.f864b8","name":"","x":350,"y":660,"wires":[]},{"id":"ccfe093f.2bd2f8","type":"comment","z":"cd950567.f864b8","name":"Error Handler","info":"","x":130,"y":620,"wires":[]},{"id":"12c91848.692d98","type":"catch","z":"f92add19.c43b9","name":"","scope":null,"x":100,"y":80,"wires":[["57855714.0ccd88"]]},{"id":"57855714.0ccd88","type":"subflow:f5eab19a.7cf17","z":"f92add19.c43b9","name":"","x":330,"y":80,"wires":[]},{"id":"285eecda.fca384","type":"comment","z":"f92add19.c43b9","name":"Error Handler","info":"","x":110,"y":40,"wires":[]},{"id":"53afba59.94cd24","type":"catch","z":"a068bd5.28a8d4","name":"","scope":null,"x":100,"y":80,"wires":[["1e9a78cb.b78cc7"]]},{"id":"1e9a78cb.b78cc7","type":"subflow:f5eab19a.7cf17","z":"a068bd5.28a8d4","name":"","x":330,"y":80,"wires":[]},{"id":"c269451e.f6d8d8","type":"comment","z":"a068bd5.28a8d4","name":"Error Handler","info":"","x":110,"y":40,"wires":[]},{"id":"b2e2aedc.7117d","type":"catch","z":"d73100a9.0d64d","name":"","scope":null,"x":100,"y":80,"wires":[["1982b0d2.f9443f"]]},{"id":"1982b0d2.f9443f","type":"subflow:f5eab19a.7cf17","z":"d73100a9.0d64d","name":"","x":330,"y":80,"wires":[]},{"id":"68a1ed88.1aaa84","type":"comment","z":"d73100a9.0d64d","name":"Error Handler","info":"","x":110,"y":40,"wires":[]},{"id":"242a2aaa.ee74b6","type":"catch","z":"b8a16318.b66a5","name":"","scope":["db6f141.f0d81e8","e4ae5383.2ab6e","91a25b55.043368"],"x":70,"y":80,"wires":[[]]},{"id":"de155525.5f5328","type":"subflow:f5eab19a.7cf17","z":"b8a16318.b66a5","name":"","x":310,"y":80,"wires":[]},{"id":"86a0baf9.b8cff8","type":"comment","z":"b8a16318.b66a5","name":"Error Handler","info":"","x":90,"y":40,"wires":[]},{"id":"c0de7131.1686b","type":"catch","z":"a3158433.9d1f78","name":"","scope":null,"x":120,"y":80,"wires":[["879f1d84.3c4b6"]]},{"id":"879f1d84.3c4b6","type":"subflow:f5eab19a.7cf17","z":"a3158433.9d1f78","name":"","x":350,"y":80,"wires":[]},{"id":"a5b767c6.469a78","type":"comment","z":"a3158433.9d1f78","name":"Error Handler","info":"","x":130,"y":40,"wires":[]},{"id":"545ec4ed.99005c","type":"catch","z":"99d64a3d.f4e418","name":"","scope":null,"x":120,"y":120,"wires":[["f420f60b.9e3a88"]]},{"id":"f420f60b.9e3a88","type":"subflow:f5eab19a.7cf17","z":"99d64a3d.f4e418","name":"","x":350,"y":120,"wires":[]},{"id":"30d4c722.2476b8","type":"comment","z":"99d64a3d.f4e418","name":"Error Handler","info":"","x":130,"y":80,"wires":[]},{"id":"80401489.e84f88","type":"catch","z":"d1172b8b.3d3298","name":"","scope":null,"x":100,"y":80,"wires":[["5ce21bd9.903e14"]]},{"id":"5ce21bd9.903e14","type":"subflow:f5eab19a.7cf17","z":"d1172b8b.3d3298","name":"","x":330,"y":80,"wires":[]},{"id":"fcc53040.d1dd7","type":"comment","z":"d1172b8b.3d3298","name":"Error Handler","info":"","x":110,"y":40,"wires":[]},{"id":"4d7db1db.68172","type":"catch","z":"1e454935.091dd7","name":"","scope":null,"x":120,"y":80,"wires":[["33052106.48eb7e"]]},{"id":"33052106.48eb7e","type":"subflow:f5eab19a.7cf17","z":"1e454935.091dd7","name":"","x":350,"y":80,"wires":[]},{"id":"6d8cc228.7b4ecc","type":"comment","z":"1e454935.091dd7","name":"Error Handler","info":"","x":130,"y":40,"wires":[]},{"id":"2cf95ee5.b42bd2","type":"catch","z":"9a341993.fbc528","name":"","scope":null,"x":100,"y":80,"wires":[["63def445.f2b16c"]]},{"id":"63def445.f2b16c","type":"subflow:f5eab19a.7cf17","z":"9a341993.fbc528","name":"","x":330,"y":80,"wires":[]},{"id":"86e81af9.0b95d8","type":"comment","z":"9a341993.fbc528","name":"Error Handler","info":"","x":110,"y":40,"wires":[]},{"id":"35126fda.6e6b4","type":"debug","z":"f5eab19a.7cf17","name":"Error Handler","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":220,"y":120,"wires":[]},{"id":"19935555.b95fab","type":"mqtt out","z":"a068bd5.28a8d4","name":"Scan For Who Arrive","topic":"btmonitor/scan/ARRIVE","qos":"0","retain":"false","broker":"1b6bc4ba.56ff4b","x":1140,"y":678,"wires":[]},{"id":"c0dff3d8.fcde3","type":"server-state-changed","z":"a3158433.9d1f78","name":"Matt Home / Away","server":"5ee4d578.f7736c","entityidfilter":"sensor.matt_living_room","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":150,"y":220,"wires":[["db76988.e552268"]]},{"id":"e5299478.e59328","type":"server-state-changed","z":"a3158433.9d1f78","name":"Danni Home / Away","server":"5ee4d578.f7736c","entityidfilter":"sensor.danni_living_room","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":150,"y":260,"wires":[["85dea4f7.0782b8"]]},{"id":"2b671e1d.f76fd2","type":"comment","z":"a3158433.9d1f78","name":"Is Any One Home - Life 360","info":"","x":180,"y":400,"wires":[]},{"id":"db76988.e552268","type":"switch","z":"a3158433.9d1f78","name":"Greater then 10?","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"10","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":220,"wires":[["81818922.360f98","fa841a56.1037e8"],["bea24dc.62f6cb"]],"outputLabels":["Yes","No"]},{"id":"a963880c.9251f8","type":"trigger","z":"a3158433.9d1f78","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"10","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":1430,"y":320,"wires":[["209f26a6.4bd9ba"]]},{"id":"41325690.252b68","type":"comment","z":"a3158433.9d1f78","name":"Confirm Via 360","info":"","x":1060,"y":280,"wires":[]},{"id":"aea97881.44ab78","type":"api-call-service","z":"a3158433.9d1f78","name":"Disarm Alarm","server":"5ee4d578.f7736c","service_domain":"alarm_control_panel","service":"alarm_disarm","data":"{\"entity_id\":\"alarm_control_panel.home_alarm\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":240,"y":912,"wires":[[]]},{"id":"34d4aee9.cd2842","type":"api-current-state","z":"a3158433.9d1f78","name":"Alarm State","server":"5ee4d578.f7736c","outputs":1,"halt_if":"","override_topic":true,"entity_id":"alarm_control_panel.home_alarm","override_payload":true,"override_data":true,"x":1050,"y":320,"wires":[["46fd8d3a.619004"]]},{"id":"46fd8d3a.619004","type":"switch","z":"a3158433.9d1f78","name":"Away Arm?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"armed_away","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1235,"y":320,"wires":[["a963880c.9251f8"]]},{"id":"209f26a6.4bd9ba","type":"api-current-state","z":"a3158433.9d1f78","name":"Current State Is Any One Home?","server":"eef5a84.da24f58","outputs":1,"halt_if":"","override_topic":true,"entity_id":"input_boolean.isanyonehome","override_payload":true,"override_data":true,"x":1701,"y":320,"wires":[["b6af2fa1.e4bed"]]},{"id":"b6af2fa1.e4bed","type":"switch","z":"a3158433.9d1f78","name":"360 Confirms","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1975,"y":320,"wires":[[],["c95bfc57.f496a","c869da06.29c528"]]},{"id":"e14e20ef.1b779","type":"api-call-service","z":"a3158433.9d1f78","name":"Active Alarm","server":"5ee4d578.f7736c","service_domain":"alarm_control_panel","service":"alarm_arm_away","data":"{\"entity_id\":\"alarm_control_panel.home_alarm\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":2458,"y":328,"wires":[[]]},{"id":"3cb54a9.5114fb6","type":"link out","z":"a3158433.9d1f78","name":"","links":[],"x":2403,"y":368,"wires":[]},{"id":"c95bfc57.f496a","type":"trigger","z":"a3158433.9d1f78","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"20","extend":false,"units":"s","reset":"","bytopic":"all","name":"Wait 20 Seconds","x":2238,"y":328,"wires":[["e14e20ef.1b779","3cb54a9.5114fb6"]]},{"id":"c869da06.29c528","type":"change","z":"a3158433.9d1f78","name":"Alarm is still active","rules":[{"t":"set","p":"say","pt":"msg","to":"Life 360 failed to comfirm GPS... Activing alarm","tot":"str"},{"t":"set","p":"alexa","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2236,"y":288,"wires":[[]]},{"id":"844ae5a1.9d66b8","type":"api-call-service","z":"940805f6.65fb98","name":"Lett Matt Know","server":"eef5a84.da24f58","service_domain":"notify","service":"mattiphone_iphone10smax","data":"{\"entity_id\":\"matt\",\"message\":\"Go back to work!\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":480,"y":160,"wires":[[]]},{"id":"5ebe7a8d.2ffe14","type":"inject","z":"940805f6.65fb98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":160,"wires":[["844ae5a1.9d66b8"]]},{"id":"1251ab92.3861f4","type":"catch","z":"940805f6.65fb98","name":"","scope":null,"x":220,"y":80,"wires":[["5adb5e2d.0e772"]]},{"id":"5adb5e2d.0e772","type":"subflow:f5eab19a.7cf17","z":"940805f6.65fb98","name":"","x":450,"y":80,"wires":[]},{"id":"cb727108.25cf6","type":"comment","z":"940805f6.65fb98","name":"Error Handler","info":"","x":230,"y":40,"wires":[]},{"id":"91a25b55.043368","type":"api-call-service","z":"b8a16318.b66a5","name":"trigger","server":"5ee4d578.f7736c","service_domain":"hassio","service":"snapshot_full","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":710,"y":380,"wires":[[]]},{"id":"ada41b1a.6921a8","type":"comment","z":"b8a16318.b66a5","name":"Watch Dog","info":"","x":80,"y":140,"wires":[]},{"id":"39c59c56.fad0d4","type":"comment","z":"b8a16318.b66a5","name":"Backup","info":"","x":70,"y":320,"wires":[]},{"id":"db6f141.f0d81e8","type":"light-scheduler","z":"b8a16318.b66a5","settings":"525afe76.43e05","events":"[{\"start\":{\"dow\":2,\"mod\":240},\"end\":{\"dow\":2,\"mod\":255}},{\"start\":{\"dow\":3,\"mod\":240},\"end\":{\"dow\":3,\"mod\":255}},{\"start\":{\"dow\":4,\"mod\":240},\"end\":{\"dow\":4,\"mod\":255}},{\"start\":{\"dow\":5,\"mod\":240},\"end\":{\"dow\":5,\"mod\":255}},{\"start\":{\"dow\":6,\"mod\":240},\"end\":{\"dow\":6,\"mod\":255}},{\"start\":{\"dow\":0,\"mod\":240},\"end\":{\"dow\":0,\"mod\":255}},{\"start\":{\"dow\":1,\"mod\":240},\"end\":{\"dow\":1,\"mod\":255}}]","topic":"","name":"4am","onPayload":"true","onPayloadType":"bool","offPayload":"false","offPayloadType":"bool","onlyWhenDark":true,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":70,"y":380,"wires":[["92457156.7ed4e"]]},{"id":"e4ae5383.2ab6e","type":"switch","z":"b8a16318.b66a5","name":"Only On","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":380,"wires":[["91a25b55.043368"]]},{"id":"908042fb.5ade1","type":"inject","z":"b8a16318.b66a5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":440,"wires":[["91a25b55.043368"]]},{"id":"4ad3a3ca.e993fc","type":"api-call-service","z":"c9b308f8.01ef68","name":"Office Light","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_off","data":"{   \"entity_id\": \"light.office_light\" }","mergecontext":"","x":230,"y":100,"wires":[[]]},{"id":"adc7b89a.d6d8a8","type":"comment","z":"c9b308f8.01ef68","name":"Lights","info":"","x":210,"y":40,"wires":[]},{"id":"d87f007e.fe521","type":"comment","z":"c9b308f8.01ef68","name":"Switches","info":"","x":480,"y":40,"wires":[]},{"id":"eafdd93e.9fb888","type":"api-call-service","z":"c9b308f8.01ef68","name":"Office LightStrip","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_off","data":"{   \"entity_id\": \"light.office_light_rgb\" }","mergecontext":"","x":240,"y":140,"wires":[[]]},{"id":"13188644.21746a","type":"api-call-service","z":"c9b308f8.01ef68","name":"Living Room Light 1","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_off","data":"{   \"entity_id\": \"light.living_room_light_1\" }","mergecontext":"","x":260,"y":180,"wires":[[]]},{"id":"81018cf2.485d6","type":"api-call-service","z":"c9b308f8.01ef68","name":"Living Room Light 2","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_off","data":"{   \"entity_id\": \"light.living_room_light_2\" }","mergecontext":"","x":260,"y":220,"wires":[[]]},{"id":"d0cfbc85.dd2e7","type":"api-call-service","z":"c9b308f8.01ef68","name":"Living Room Light 3","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_off","data":"{   \"entity_id\": \"light.living_room_light_3\" }","mergecontext":"","x":260,"y":260,"wires":[[]]},{"id":"11925681.a709e9","type":"api-call-service","z":"c9b308f8.01ef68","name":"Bed Room Light","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_off","data":"{   \"entity_id\": \"light.bed_room_light\" }","mergecontext":"","x":240,"y":300,"wires":[[]]},{"id":"96315aaf.436ea8","type":"api-call-service","z":"c9b308f8.01ef68","name":"Bedroom Plug","server":"5ee4d578.f7736c","service_domain":"switch","service":"turn_off","data":"{   \"entity_id\": \"switch.0682373584f3eb675aab\" }","mergecontext":"","x":500,"y":100,"wires":[[]]},{"id":"9a7c0c3c.240bb","type":"api-call-service","z":"c9b308f8.01ef68","name":"Office Plug","server":"5ee4d578.f7736c","service_domain":"switch","service":"turn_off","data":"{   \"entity_id\": \"switch.12747566807d3a494165\" }","mergecontext":"","x":650,"y":300,"wires":[[]]},{"id":"df1fe7a6.c64e78","type":"api-call-service","z":"c9b308f8.01ef68","name":"Living Room Plug","server":"5ee4d578.f7736c","service_domain":"switch","service":"turn_off","data":"{   \"entity_id\": \"switch.1274756684f3ebb8900b\" }","mergecontext":"","x":510,"y":140,"wires":[[]]},{"id":"bc86c7f4.0d9708","type":"api-call-service","z":"c9b308f8.01ef68","name":"Dryer","server":"5ee4d578.f7736c","service_domain":"switch","service":"turn_off","data":"{   \"entity_id\": \"switch.51268403dc4f2233b115\" }","mergecontext":"","x":470,"y":180,"wires":[[]]},{"id":"2971d7cd.f71318","type":"api-call-service","z":"c9b308f8.01ef68","name":"Reset Request","server":"5ee4d578.f7736c","service_domain":"input_boolean","service":"turn_off","data":"{   \"entity_id\": \"input_boolean.goodnight\" }","mergecontext":"","x":900,"y":100,"wires":[[]]},{"id":"ddfafa57.793b48","type":"api-call-service","z":"c9b308f8.01ef68","name":"Turn off PC","server":"eef5a84.da24f58","service_domain":"switch","service":"turn_off","data":"{   \"entity_id\": \"switch.mattpc\" }","mergecontext":"","x":490,"y":220,"wires":[[]]},{"id":"7cc64304.a4c08c","type":"delay","z":"c9b308f8.01ef68","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":300,"wires":[["9a7c0c3c.240bb"]]},{"id":"18474d73.df01f3","type":"api-call-service","z":"c9b308f8.01ef68","name":"Turn off TV","server":"eef5a84.da24f58","service_domain":"switch","service":"turn_off","data":"{   \"entity_id\": \"switch.tv\" }","mergecontext":"","x":490,"y":260,"wires":[[]]},{"id":"5a47e076.9bd83","type":"api-call-service","z":"c9b308f8.01ef68","name":"Confirm Trigger","server":"5ee4d578.f7736c","service_domain":"input_boolean","service":"turn_on","data":"{   \"entity_id\": \"input_boolean.goodnight_beentriggered\" }","mergecontext":"","x":900,"y":140,"wires":[[]]},{"id":"4cc8dc8e.5daea4","type":"api-call-service","z":"c9b308f8.01ef68","name":"Library 1","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.hue_white_lamp_1\"}","mergecontext":"","x":220,"y":340,"wires":[[]]},{"id":"9c8404e9.34ba08","type":"api-call-service","z":"c9b308f8.01ef68","name":"Library 2","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.hue_white_lamp_2\"}","mergecontext":"","x":220,"y":380,"wires":[[]]},{"id":"6f951353.3c766c","type":"comment","z":"48ba348c.61270c","name":"BedRoom Availability","info":"","x":160,"y":580,"wires":[]},{"id":"bbc4a0fd.013b2","type":"mqtt in","z":"48ba348c.61270c","name":"","topic":"checkIn/bedroomMCU","qos":"2","broker":"1b6bc4ba.56ff4b","x":160,"y":620,"wires":[["ba0f14ff.fbf9f8","246c516.4b14bae"]]},{"id":"ba0f14ff.fbf9f8","type":"trigger","z":"48ba348c.61270c","op1":"","op2":"offline","op1type":"nul","op2type":"str","duration":"4","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":430,"y":600,"wires":[["c7b3c2cc.794f6","be55b0fe.1cdef","ddf2b558.0a23f8"]]},{"id":"c7b3c2cc.794f6","type":"mqtt out","z":"48ba348c.61270c","name":"availability/bedroomMCU","topic":"availability/bedroomMCU","qos":"2","retain":"true","broker":"1b6bc4ba.56ff4b","x":770,"y":660,"wires":[]},{"id":"246c516.4b14bae","type":"change","z":"48ba348c.61270c","name":"online","rules":[{"t":"set","p":"payload","pt":"msg","to":"online","tot":"str"},{"t":"set","p":"devicecheckin.bedroom","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":640,"wires":[["c7b3c2cc.794f6"]]},{"id":"be55b0fe.1cdef","type":"api-call-service","z":"48ba348c.61270c","name":"Lett Matt Know","server":"eef5a84.da24f58","service_domain":"notify","service":"mattiphone","data":"{\"message\":\"Bedroom Node MCU - Offline\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":740,"y":620,"wires":[[]]},{"id":"d0b308ee.2b6718","type":"comment","z":"48ba348c.61270c","name":"Office Availability","info":"","x":140,"y":740,"wires":[]},{"id":"ce89f0f5.323d5","type":"mqtt in","z":"48ba348c.61270c","name":"","topic":"checkIn/OfficeMCU","qos":"2","broker":"1b6bc4ba.56ff4b","x":150,"y":780,"wires":[["17046a13.6635d6","2478e925.50b0a6"]]},{"id":"17046a13.6635d6","type":"trigger","z":"48ba348c.61270c","op1":"","op2":"offline","op1type":"nul","op2type":"str","duration":"8","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":430,"y":760,"wires":[["a1464cf1.f62f5","cad6c4a0.0570e8","c8b5465c.584e48"]]},{"id":"a1464cf1.f62f5","type":"mqtt out","z":"48ba348c.61270c","name":"availability/OfficeMCU","topic":"availability/OfficeMCU","qos":"2","retain":"true","broker":"1b6bc4ba.56ff4b","x":760,"y":820,"wires":[]},{"id":"2478e925.50b0a6","type":"change","z":"48ba348c.61270c","name":"online","rules":[{"t":"set","p":"payload","pt":"msg","to":"online","tot":"str"},{"t":"set","p":"devicecheckin.office","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":800,"wires":[["a1464cf1.f62f5"]]},{"id":"cad6c4a0.0570e8","type":"api-call-service","z":"48ba348c.61270c","name":"Lett Matt Know","server":"eef5a84.da24f58","service_domain":"notify","service":"mattiphone","data":"{\"message\":\"Office Node MCU - Offline\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":740,"y":780,"wires":[[]]},{"id":"42ae3ca6.5e2724","type":"comment","z":"48ba348c.61270c","name":"DoorBell Availability","info":"","x":150,"y":880,"wires":[]},{"id":"c92cc768.f09d78","type":"mqtt in","z":"48ba348c.61270c","name":"","topic":"checkIn/doorbellMCU","qos":"2","broker":"1b6bc4ba.56ff4b","x":160,"y":920,"wires":[["ea63a6c3.d7ce48","12fd2314.e17cad"]]},{"id":"ea63a6c3.d7ce48","type":"trigger","z":"48ba348c.61270c","op1":"","op2":"offline","op1type":"nul","op2type":"str","duration":"8","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":430,"y":900,"wires":[["7164f4a4.e5a42c","ac6c25a0.3f1b98","b0bc999f.9ff708"]]},{"id":"7164f4a4.e5a42c","type":"mqtt out","z":"48ba348c.61270c","name":"availability/doorbellMCU","topic":"availability/doorbellMCU","qos":"2","retain":"true","broker":"1b6bc4ba.56ff4b","x":770,"y":960,"wires":[]},{"id":"12fd2314.e17cad","type":"change","z":"48ba348c.61270c","name":"online","rules":[{"t":"set","p":"payload","pt":"msg","to":"online","tot":"str"},{"t":"set","p":"devicecheckin.doorbell","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":940,"wires":[["7164f4a4.e5a42c"]]},{"id":"ac6c25a0.3f1b98","type":"api-call-service","z":"48ba348c.61270c","name":"Lett Matt Know","server":"eef5a84.da24f58","service_domain":"notify","service":"mattiphone","data":"{\"message\":\"BeNode MCU - Offline\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":740,"y":920,"wires":[[]]},{"id":"ddf2b558.0a23f8","type":"change","z":"48ba348c.61270c","name":"Fault Details","rules":[{"t":"set","p":"fault.name","pt":"msg","to":"Bedroom Node MCU has not checked in","tot":"str"},{"t":"set","p":"fault.item","pt":"msg","to":"Bedroom Node MCU","tot":"str"},{"t":"set","p":"fault.actiontofix","pt":"msg","to":"Restart bedroom node mcu","tot":"str"},{"t":"set","p":"devicecheckin.bedroom","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":580,"wires":[["20b5a1d8.a650fe"]]},{"id":"20b5a1d8.a650fe","type":"link out","z":"48ba348c.61270c","name":"Fault Detected","links":["c6717092.75d4b"],"x":935,"y":580,"wires":[]},{"id":"c8b5465c.584e48","type":"change","z":"48ba348c.61270c","name":"Fault Details","rules":[{"t":"set","p":"fault.name","pt":"msg","to":"Bedroom Node MCU has not checked in","tot":"str"},{"t":"set","p":"fault.item","pt":"msg","to":"Bedroom Node MCU","tot":"str"},{"t":"set","p":"fault.actiontofix","pt":"msg","to":"Restart office node mcu. Note open the office door","tot":"str"},{"t":"set","p":"devicecheckin.office","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":740,"wires":[["a1cec523.a181e8"]]},{"id":"a1cec523.a181e8","type":"link out","z":"48ba348c.61270c","name":"Fault Detected","links":["c6717092.75d4b"],"x":935,"y":740,"wires":[]},{"id":"b0bc999f.9ff708","type":"change","z":"48ba348c.61270c","name":"Fault Details","rules":[{"t":"set","p":"fault.name","pt":"msg","to":"Door Beel Node MCU has not checked in","tot":"str"},{"t":"set","p":"fault.item","pt":"msg","to":"Doorbell Node MCU","tot":"str"},{"t":"set","p":"fault.actiontofix","pt":"msg","to":"Restart doorbell node mcu","tot":"str"},{"t":"set","p":"devicecheckin.doorbell","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":880,"wires":[["f7cb7ddf.cc703"]]},{"id":"f7cb7ddf.cc703","type":"link out","z":"48ba348c.61270c","name":"Fault Detected","links":["c6717092.75d4b"],"x":935,"y":880,"wires":[]},{"id":"2ddc2933.91dc56","type":"debug","z":"1e454935.091dd7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":340,"wires":[]},{"id":"9567c19f.3fa0b","type":"subflow:c9b308f8.01ef68","z":"1e454935.091dd7","name":"","x":460,"y":380,"wires":[]},{"id":"9bdbae6b.e8281","type":"server-state-changed","z":"a068bd5.28a8d4","name":"Bedroom Window Changed","server":"5ee4d578.f7736c","entityidfilter":"binary_sensor.bedroom_window","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":160,"y":340,"wires":[["53670de2.10b724"]]},{"id":"53670de2.10b724","type":"change","z":"a068bd5.28a8d4","name":"Bedroom Window","rules":[{"t":"set","p":"location","pt":"msg","to":"Bedroom Window","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":340,"wires":[["64a723bb.a421cc"]]},{"id":"814d4c3d.b7057","type":"server-state-changed","z":"a068bd5.28a8d4","name":"Number Of People In Bed","server":"5ee4d578.f7736c","entityidfilter":"sensor.num_in_master_bed","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":150,"y":1540,"wires":[["154eb3c4.56cf6c","aab12cd4.7e3e2"]]},{"id":"154eb3c4.56cf6c","type":"debug","z":"a068bd5.28a8d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":370,"y":1620,"wires":[]},{"id":"aab12cd4.7e3e2","type":"function","z":"a068bd5.28a8d4","name":"What changed?","func":"if ((msg.payload == \"1\" && msg.data.old_state.state == \"2\" ) || (msg.payload == \"0\" && msg.data.old_state.state == \"1\" )) {\n    // Someone got out of bed    \n    return [msg, null, null];\n} else if (msg.payload == \"2\" ) {\n    // All In bed\n    return [null, msg, null];\n} else if ((msg.payload == \"1\" && msg.data.old_state.state == \"0\" ) || (msg.payload == \"2\" && msg.data.old_state.state == \"1\" )) {\n    return [null,null ,msg];\n}\n// no one in bed\n\n","outputs":3,"noerr":0,"x":420,"y":1540,"wires":[["2fd62cc2.d00af4","1521a12f.c438ef","cb2c3702.312b58","82566c03.8c124"],["90c71455.ed25b8","bea1416e.bd96b","1521a12f.c438ef","f3f11e77.0353a","79c6f720.ebfef8"],["36979ee2.1c5f42","1521a12f.c438ef","c094736e.a4ff5"]],"outputLabels":["Someone got out of bed ","All In bed","Some one got into bed"]},{"id":"90c71455.ed25b8","type":"api-call-service","z":"a068bd5.28a8d4","name":"Turn Off Hallway","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.hallway_light\"}","mergecontext":"","x":790,"y":1520,"wires":[[]]},{"id":"bea1416e.bd96b","type":"api-call-service","z":"a068bd5.28a8d4","name":"Turn Off Bath Room Light","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.bathroom_light\"}","mergecontext":"","x":810,"y":1560,"wires":[[]]},{"id":"9308f690.7f05a8","type":"api-call-service","z":"a068bd5.28a8d4","name":"Increase strip light brightness","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.hue_lightstrip_plus_1\",\"brightness_pct\":\"50\",\"transition\":\"5\"}","mergecontext":"","x":1160,"y":1420,"wires":[["aad61f4e.61bae"]]},{"id":"2fd62cc2.d00af4","type":"api-current-state","z":"a068bd5.28a8d4","name":"Get Light Status","server":"5ee4d578.f7736c","outputs":1,"halt_if":"","override_topic":true,"entity_id":"light.hue_lightstrip_plus_1","override_payload":true,"override_data":true,"x":760,"y":1420,"wires":[["f08c2bc2.f5ea98"]]},{"id":"f08c2bc2.f5ea98","type":"switch","z":"a068bd5.28a8d4","name":"Is on?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":1420,"wires":[["9308f690.7f05a8"]]},{"id":"c1d9f4a5.1cc0b8","type":"inject","z":"a068bd5.28a8d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":1420,"wires":[["2fd62cc2.d00af4"]]},{"id":"aad61f4e.61bae","type":"trigger","z":"a068bd5.28a8d4","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"40","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1410,"y":1420,"wires":[["297a520b.ffe05e"]]},{"id":"297a520b.ffe05e","type":"api-call-service","z":"a068bd5.28a8d4","name":"Decrease strip light brightness","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.hue_lightstrip_plus_1\",\"brightness_pct\":\"10\",\"transition\":\"5\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1650,"y":1420,"wires":[[]]},{"id":"36979ee2.1c5f42","type":"api-current-state","z":"a068bd5.28a8d4","name":"Get Light Status","server":"5ee4d578.f7736c","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.hue_lightstrip_plus_1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":760,"y":1660,"wires":[["238b471b.a06608"]]},{"id":"238b471b.a06608","type":"switch","z":"a068bd5.28a8d4","name":"Is on?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":1660,"wires":[[],["16660229.8d004e"]]},{"id":"912bd649.833578","type":"api-call-service","z":"a068bd5.28a8d4","name":"Decrease strip light brightness","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.hue_lightstrip_plus_1\",\"brightness_pct\":\"10\",\"transition\":\"30\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1430,"y":1620,"wires":[[]]},{"id":"5407f8d7.206748","type":"trigger","z":"a068bd5.28a8d4","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"20","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":1130,"y":1620,"wires":[["912bd649.833578"]]},{"id":"f3f11e77.0353a","type":"api-current-state","z":"a068bd5.28a8d4","name":"Get Light Status","server":"5ee4d578.f7736c","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.hue_lightstrip_plus_1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":760,"y":1620,"wires":[["7cc6fe36.0a626"]]},{"id":"7cc6fe36.0a626","type":"switch","z":"a068bd5.28a8d4","name":"Is on?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":1620,"wires":[["5407f8d7.206748"]]},{"id":"16660229.8d004e","type":"api-current-state","z":"a068bd5.28a8d4","name":"Get Light Level","server":"5ee4d578.f7736c","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.bedroom_light_level","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1120,"y":1720,"wires":[["ad101e4d.6f313"]]},{"id":"9df87925.9fd338","type":"api-call-service","z":"a068bd5.28a8d4","name":"Strip Light On","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.hue_lightstrip_plus_1\",\"brightness_pct\":\"100\",\"transition\":\"8\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1500,"y":1720,"wires":[[]]},{"id":"ad101e4d.6f313","type":"switch","z":"a068bd5.28a8d4","name":"Is Drak?","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"10","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1320,"y":1720,"wires":[["9df87925.9fd338","a5c96878.875858"]]},{"id":"a5c96878.875858","type":"trigger","z":"a068bd5.28a8d4","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"4","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":1490,"y":1800,"wires":[["12e3da41.ff0cf6"]]},{"id":"447fab2b.8d7d84","type":"api-call-service","z":"a068bd5.28a8d4","name":"Decrease strip light brightness","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.hue_lightstrip_plus_1\",\"brightness_pct\":\"10\",\"transition\":\"5\"}","mergecontext":"","x":1910,"y":1820,"wires":[[]]},{"id":"1521a12f.c438ef","type":"change","z":"a068bd5.28a8d4","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"unauthorised access detected. notifying police, uploading real-time camera footage to remote server","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1800,"wires":[["5407f8d7.206748","a5c96878.875858","aad61f4e.61bae"]]},{"id":"822c9f69.da724","type":"comment","z":"a068bd5.28a8d4","name":"Once Barthroom door open - increase lgiht level","info":"","x":1520,"y":1480,"wires":[]},{"id":"7323ca0e.ee9ac4","type":"comment","z":"d73100a9.0d64d","name":"","info":"","x":0,"y":0,"wires":[]},{"id":"9876b938.b17e98","type":"comment","z":"d73100a9.0d64d","name":"Wait for us to both be in bed","info":"","x":580,"y":300,"wires":[]},{"id":"12e3da41.ff0cf6","type":"switch","z":"a068bd5.28a8d4","name":"Is sun up?","property":"sunstate","propertyType":"global","rules":[{"t":"eq","v":"above_horizon","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1670,"y":1800,"wires":[["80ffcb8b.9d3d28"],["447fab2b.8d7d84"]],"outputLabels":["Yes","No"]},{"id":"80ffcb8b.9d3d28","type":"api-call-service","z":"a068bd5.28a8d4","name":"Turn Off Light Strip","server":"eef5a84.da24f58","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.hue_lightstrip_plus_1\"}","mergecontext":"","x":1870,"y":1740,"wires":[[]]},{"id":"a2ee88e7.636588","type":"alexa-home","z":"1f9e3480.5be75c","conf":"3fa4c0fe.0f3ed","device":"51092","acknoledge":true,"name":"Lights","topic":"","x":190,"y":3020,"wires":[["ad70c306.9adcd","415a0565.3a3dac"]]},{"id":"ad70c306.9adcd","type":"debug","z":"1f9e3480.5be75c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":3020,"wires":[]},{"id":"bb3f35b4.b93fa8","type":"subflow:47bc2d66.1132e4","z":"dceb45d8.425368","name":"","x":1800,"y":100,"wires":[[]]},{"id":"bc3ee15b.fdf2f","type":"subflow:47bc2d66.1132e4","z":"a0a4859f.5a2a48","name":"","x":1610,"y":560,"wires":[[]]},{"id":"1ff7fcd1.1bdbe3","type":"subflow:47bc2d66.1132e4","z":"a0a4859f.5a2a48","name":"","x":1390,"y":860,"wires":[[]]},{"id":"eabcdf61.a106d","type":"subflow:47bc2d66.1132e4","z":"d1172b8b.3d3298","name":"","x":1270,"y":340,"wires":[[]]},{"id":"31858c57.244154","type":"server-state-changed","z":"1f9e3480.5be75c","name":"","server":"5ee4d578.f7736c","entityidfilter":"sensor.last_alexa","entityidfiltertype":"exact","outputinitially":false,"haltifstate":"","outputs":1,"x":270,"y":3240,"wires":[["ec8196ab.c45288"]]},{"id":"ec8196ab.c45288","type":"debug","z":"1f9e3480.5be75c","name":"Last Alexa State Changed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":3240,"wires":[]},{"id":"415a0565.3a3dac","type":"api-render-template","z":"1f9e3480.5be75c","name":"last alexa","server":"5ee4d578.f7736c","template":"{%- for entity in states.media_player -%}\n    {%- if state_attr(entity.entity_id, 'last_called') == True -%}\n      {{ entity.entity_id }}\n    {%- endif -%}\n{%- endfor -%}","x":440,"y":3080,"wires":[["56203d03.1384b4"]]},{"id":"56203d03.1384b4","type":"debug","z":"1f9e3480.5be75c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":3080,"wires":[]},{"id":"933a7c4e.8e8e4","type":"alexa-home","z":"80866e71.966c6","conf":"3fa4c0fe.0f3ed","device":"51127","acknoledge":true,"name":"Office Light","topic":"","x":90,"y":580,"wires":[["4f5e4b81.24cfa4","58efa820.b9bb08"]]},{"id":"a968a1f8.a369b","type":"function","z":"80866e71.966c6","name":"","func":"light = msg.light\ncommad = \"turn_on\"\nif (msg.command == \"TurnOffRequest\") {\n    commad = \"turn_off\"\n}\n\nif (msg.command == \"SetPercentageRequest\") {\n    msg.payload = { \"domain\" : \"light\",\n    \"service\" : commad,\n     \"data\" : \n        { \n            \"entity_id\" : light,\n            \"brightness_pct\": msg.payload\n        } \n    }\n} else  if (msg.command == \"SetColorRequest\") {\n    msg.payload = { \"domain\" : \"light\",\n    \"service\" : commad,\n     \"data\" : \n        { \n            \"entity_id\" : light,\n            \"hs_color\": [msg.payload.hue,80 ]\n        } \n    }\n\n\n} else {\n    msg.payload = { \"domain\" : \"light\",\n    \"service\" : commad,\n     \"data\" : \n        { \n            \"entity_id\" : light\n        } \n    }\n}\n\n    \n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":530,"y":580,"wires":[["92aad820.4e1798"]],"outputLabels":["On"]},{"id":"92aad820.4e1798","type":"api-call-service","z":"80866e71.966c6","name":"","server":"5ee4d578.f7736c","service_domain":"","service":"","data":"","mergecontext":"","x":710,"y":580,"wires":[["27357b33.a12d04"]]},{"id":"4f5e4b81.24cfa4","type":"change","z":"80866e71.966c6","name":"","rules":[{"t":"set","p":"light","pt":"msg","to":"light.office_light","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":580,"wires":[["a968a1f8.a369b"]]},{"id":"62a0b741.6f7738","type":"api-current-state","z":"80866e71.966c6","name":"","server":"5ee4d578.f7736c","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"{\"entity_id\":msg.payload}","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1220,"y":580,"wires":[["18e54093.b67cef"]]},{"id":"18e54093.b67cef","type":"debug","z":"80866e71.966c6","name":"Get State","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1520,"y":580,"wires":[]},{"id":"27357b33.a12d04","type":"function","z":"80866e71.966c6","name":"","func":"\n\n    msg.payload = \"light.office_light\"\n\n\n    \n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":910,"y":580,"wires":[["62a0b741.6f7738"]],"outputLabels":["On"]},{"id":"20a92ac4.9495e6","type":"alexa-home","z":"80866e71.966c6","conf":"3fa4c0fe.0f3ed","device":"51159","acknoledge":true,"name":"Living Room Lights","topic":"","x":110,"y":280,"wires":[["666e0981.f04888"]]},{"id":"666e0981.f04888","type":"change","z":"80866e71.966c6","name":"","rules":[{"t":"set","p":"light","pt":"msg","to":"light.living_room_lights","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":280,"wires":[["91ab16e5.33d3e8"]]},{"id":"681f52a2.6e388c","type":"function","z":"20dffe5a.37e8a2","name":"","func":"light = msg.light\ncommad = \"turn_on\"\nif (msg.command == \"TurnOffRequest\") {\n    commad = \"turn_off\"\n}\n\nif (msg.command == \"SetPercentageRequest\") {\n    msg.payload = { \"domain\" : \"light\",\n    \"service\" : commad,\n     \"data\" : \n        { \n            \"entity_id\" : light,\n            \"brightness_pct\": msg.payload\n        } \n    }\n} else  if (msg.command == \"SetColorRequest\") {\n    msg.payload = { \"domain\" : \"light\",\n    \"service\" : commad,\n     \"data\" : \n        { \n            \"entity_id\" : light,\n            \"hs_color\": [msg.payload.hue,80 ]\n        } \n    }\n\n\n} else {\n    msg.payload = { \"domain\" : \"light\",\n    \"service\" : commad,\n     \"data\" : \n        { \n            \"entity_id\" : light\n        } \n    }\n}\n\n    \n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":270,"y":40,"wires":[["a14e6e3.6e53b9"]],"outputLabels":["On"]},{"id":"a14e6e3.6e53b9","type":"api-call-service","z":"20dffe5a.37e8a2","name":"","server":"5ee4d578.f7736c","service_domain":"","service":"","data":"","mergecontext":"","x":530,"y":40,"wires":[[]]},{"id":"91ab16e5.33d3e8","type":"subflow:20dffe5a.37e8a2","z":"80866e71.966c6","name":"","x":560,"y":280,"wires":[[]]},{"id":"5b59c84c.9553a8","type":"alexa-home","z":"80866e71.966c6","conf":"3fa4c0fe.0f3ed","device":"51160","acknoledge":true,"name":"Bedroom Light","topic":"","x":100,"y":340,"wires":[["980377c2.231538"]]},{"id":"980377c2.231538","type":"change","z":"80866e71.966c6","name":"","rules":[{"t":"set","p":"light","pt":"msg","to":"light.bed_room_light","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":340,"wires":[["b7f733d5.5494"]]},{"id":"b7f733d5.5494","type":"subflow:20dffe5a.37e8a2","z":"80866e71.966c6","name":"","x":560,"y":340,"wires":[[]]},{"id":"b7351a9a.445f48","type":"alexa-home","z":"80866e71.966c6","conf":"3fa4c0fe.0f3ed","device":"51162","acknoledge":true,"name":"Library Lights","topic":"","x":90,"y":400,"wires":[["ccb7686f.ae6c38"]]},{"id":"ccb7686f.ae6c38","type":"change","z":"80866e71.966c6","name":"","rules":[{"t":"set","p":"light","pt":"msg","to":"light.library_lights","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":400,"wires":[["1cbdb8cf.6331d7"]]},{"id":"1cbdb8cf.6331d7","type":"subflow:20dffe5a.37e8a2","z":"80866e71.966c6","name":"","x":560,"y":400,"wires":[[]]},{"id":"d0d078de.15a088","type":"debug","z":"cd950567.f864b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":120,"wires":[]},{"id":"7e0e73e0.7ea04c","type":"debug","z":"cd950567.f864b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":120,"wires":[]},{"id":"64806442.02429c","type":"debug","z":"cd950567.f864b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1130,"y":80,"wires":[]},{"id":"dec4310e.4d01c","type":"comment","z":"48ba348c.61270c","name":"Bluetooth Tracker Availability","info":"","x":180,"y":1060,"wires":[]},{"id":"1fdc6496.317dbb","type":"trigger","z":"48ba348c.61270c","op1":"","op2":"offline","op1type":"nul","op2type":"str","duration":"8","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":710,"y":1080,"wires":[["96e20405.870f58","cbb5e819.633268","80752034.8088"]]},{"id":"96e20405.870f58","type":"mqtt out","z":"48ba348c.61270c","name":"availability/bluetoothtracker","topic":"availability/bluetoothtracker","qos":"2","retain":"true","broker":"1b6bc4ba.56ff4b","x":1060,"y":1140,"wires":[]},{"id":"51c0fbb2.abfe34","type":"change","z":"48ba348c.61270c","name":"online","rules":[{"t":"set","p":"payload","pt":"msg","to":"online","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1120,"wires":[["96e20405.870f58"]]},{"id":"cbb5e819.633268","type":"api-call-service","z":"48ba348c.61270c","name":"Lett Matt Know","server":"eef5a84.da24f58","service_domain":"notify","service":"mattiphone","data":"{\"message\":\"Bluetooth Tracker - Offline\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1020,"y":1100,"wires":[[]]},{"id":"80752034.8088","type":"change","z":"48ba348c.61270c","name":"Fault Details","rules":[{"t":"set","p":"fault.name","pt":"msg","to":"Can not ping bluetooth tracker","tot":"str"},{"t":"set","p":"fault.item","pt":"msg","to":"Bluetooth Tracker Pi Zero","tot":"str"},{"t":"set","p":"fault.actiontofix","pt":"msg","to":"Restart Bluetooth Tracker Pi Zero","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1060,"wires":[["48a7f807.8583d8"]]},{"id":"48a7f807.8583d8","type":"link out","z":"48ba348c.61270c","name":"Fault Detected","links":["c6717092.75d4b"],"x":1215,"y":1060,"wires":[]},{"id":"b8badc29.ed561","type":"ping","z":"48ba348c.61270c","name":"Check BT On Every 2 Minutes","host":"192.168.1.205","timer":"120","x":180,"y":1120,"wires":[["124b807c.ce19b"]]},{"id":"124b807c.ce19b","type":"switch","z":"48ba348c.61270c","name":"Is offline?","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":1120,"wires":[[],["51c0fbb2.abfe34","1fdc6496.317dbb"]]},{"id":"2c5e4896.5acbd8","type":"comment","z":"48ba348c.61270c","name":"Bluetooth Tracker Availability","info":"","x":180,"y":1240,"wires":[]},{"id":"a9b99e17.0b437","type":"trigger","z":"48ba348c.61270c","op1":"","op2":"offline","op1type":"nul","op2type":"str","duration":"8","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":710,"y":1260,"wires":[["4b56562a.e13668","a5e82cce.9e94c"]]},{"id":"899c25f0.69a088","type":"change","z":"48ba348c.61270c","name":"online","rules":[{"t":"set","p":"payload","pt":"msg","to":"online","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1300,"wires":[[]]},{"id":"4b56562a.e13668","type":"api-call-service","z":"48ba348c.61270c","name":"Lett Matt Know","server":"eef5a84.da24f58","service_domain":"notify","service":"mattiphone","data":"{\"message\":\"RM min - Offline\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1020,"y":1280,"wires":[[]]},{"id":"a5e82cce.9e94c","type":"change","z":"48ba348c.61270c","name":"Fault Details","rules":[{"t":"set","p":"fault.name","pt":"msg","to":"Can not ping RM Mimi","tot":"str"},{"t":"set","p":"fault.item","pt":"msg","to":"RM Mimi","tot":"str"},{"t":"set","p":"fault.actiontofix","pt":"msg","to":"Check RM Mini network connection / power supply ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1240,"wires":[["a6165491.aa9ba8"]]},{"id":"a6165491.aa9ba8","type":"link out","z":"48ba348c.61270c","name":"Fault Detected","links":["c6717092.75d4b"],"x":1215,"y":1240,"wires":[]},{"id":"40fb610.df8f4a","type":"ping","z":"48ba348c.61270c","name":"Check RM Mini On Every 2 Minutes","host":"192.168.1.202","timer":"120","x":200,"y":1300,"wires":[["24f7770e.b891b8"]]},{"id":"24f7770e.b891b8","type":"switch","z":"48ba348c.61270c","name":"Is offline?","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":1300,"wires":[[],["899c25f0.69a088","a9b99e17.0b437"]]},{"id":"f1f04b2f.da4be8","type":"comment","z":"48ba348c.61270c","name":"Bluetooth Tracker Availability","info":"","x":180,"y":1380,"wires":[]},{"id":"a4255651.6b2fa8","type":"trigger","z":"48ba348c.61270c","op1":"","op2":"offline","op1type":"nul","op2type":"str","duration":"4","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":710,"y":1400,"wires":[["3fc21522.ece32a","7777aa85.124f64"]]},{"id":"af146bf.3df0b98","type":"change","z":"48ba348c.61270c","name":"online","rules":[{"t":"set","p":"payload","pt":"msg","to":"online","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1440,"wires":[[]]},{"id":"3fc21522.ece32a","type":"api-call-service","z":"48ba348c.61270c","name":"Lett Matt Know","server":"eef5a84.da24f58","service_domain":"notify","service":"mattiphone","data":"{\"message\":\"Living Room Cam - Offline\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1020,"y":1420,"wires":[[]]},{"id":"7777aa85.124f64","type":"change","z":"48ba348c.61270c","name":"Fault Details","rules":[{"t":"set","p":"fault.name","pt":"msg","to":"Can not ping Living Room Cam","tot":"str"},{"t":"set","p":"fault.item","pt":"msg","to":"Living Room Cam","tot":"str"},{"t":"set","p":"fault.actiontofix","pt":"msg","to":"Check Living Room Cam network connection / power supply ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1380,"wires":[["b32e27f7.8449f8"]]},{"id":"b32e27f7.8449f8","type":"link out","z":"48ba348c.61270c","name":"Fault Detected","links":["c6717092.75d4b"],"x":1215,"y":1380,"wires":[]},{"id":"bea7e8f6.3d6718","type":"ping","z":"48ba348c.61270c","name":"Check Living Room Cam On Every 2 Minutes","host":"192.168.1.203","timer":"120","x":230,"y":1440,"wires":[["8ea47506.ccd558"]]},{"id":"8ea47506.ccd558","type":"switch","z":"48ba348c.61270c","name":"Is offline?","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":1440,"wires":[[],["af146bf.3df0b98","a4255651.6b2fa8"]]},{"id":"6d2e1465.714b2c","type":"inject","z":"b8a16318.b66a5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":140,"wires":[["b8da62bc.cac9f"]]},{"id":"98aa72cd.d6907","type":"mqtt in","z":"940805f6.65fb98","name":"Incomming Message","topic":"debug/cmd","qos":"2","broker":"1b6bc4ba.56ff4b","x":230,"y":320,"wires":[["ca16acb4.e3947"]]},{"id":"c153add7.75976","type":"mqtt out","z":"940805f6.65fb98","name":"Send Message","topic":"debug/cmd","qos":"","retain":"","broker":"1b6bc4ba.56ff4b","x":1940,"y":320,"wires":[]},{"id":"ca16acb4.e3947","type":"switch","z":"940805f6.65fb98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"_.*","vt":"str","case":false},{"t":"eq","v":"Start","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":460,"y":320,"wires":[[],["7276d065.72cba","c92e60a1.f4408"],[]]},{"id":"7276d065.72cba","type":"change","z":"940805f6.65fb98","name":"Starting","rules":[{"t":"set","p":"payload","pt":"msg","to":"_Starting","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":320,"wires":[["c153add7.75976"]]},{"id":"44d37400.9af96c","type":"switch","z":"940805f6.65fb98","name":"","property":"devicecheckin.bedroom","propertyType":"global","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1170,"y":400,"wires":[["30bc6f2.183e99"],["ffbefee1.a753b"]]},{"id":"c92e60a1.f4408","type":"delay","z":"940805f6.65fb98","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":644,"y":400,"wires":[["4c2e800a.57398","fde5f2e1.df06b","54481ce7.202ae4"]]},{"id":"30bc6f2.183e99","type":"function","z":"940805f6.65fb98","name":"Pass","func":"msg.payload = \"_PASSED: \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1730,"y":420,"wires":[["c153add7.75976"]]},{"id":"ffbefee1.a753b","type":"function","z":"940805f6.65fb98","name":"Fail","func":"msg.payload = \"_FAILED: \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1730,"y":480,"wires":[["c153add7.75976"]]},{"id":"4c2e800a.57398","type":"change","z":"940805f6.65fb98","name":"Bedroom MCU","rules":[{"t":"set","p":"payload","pt":"msg","to":"Bedroom MCU","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":400,"wires":[["44d37400.9af96c"]]},{"id":"fde5f2e1.df06b","type":"change","z":"940805f6.65fb98","name":"Office MCU","rules":[{"t":"set","p":"payload","pt":"msg","to":"Office MCU","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":440,"wires":[["d2bf8513.ffe618"]]},{"id":"54481ce7.202ae4","type":"change","z":"940805f6.65fb98","name":"Door Bell MCU","rules":[{"t":"set","p":"payload","pt":"msg","to":"Door Bell MCU","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":480,"wires":[["fc2ce462.291488"]]},{"id":"d2bf8513.ffe618","type":"switch","z":"940805f6.65fb98","name":"","property":"devicecheckin.office","propertyType":"global","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1170,"y":440,"wires":[["30bc6f2.183e99"],["ffbefee1.a753b"]]},{"id":"fc2ce462.291488","type":"switch","z":"940805f6.65fb98","name":"","property":"devicecheckin.doorbell","propertyType":"global","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1170,"y":480,"wires":[["30bc6f2.183e99"],["ffbefee1.a753b"]]},{"id":"a68116a7.421e68","type":"api-call-service","z":"dceb45d8.425368","name":"Lett Matt Know","server":"eef5a84.da24f58","service_domain":"notify","service":"mattiphone","data":"{\"message\":\"Have a good lunch. Timer set\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1320,"y":60,"wires":[[]]},{"id":"85dabb98.674a08","type":"api-call-service","z":"a3158433.9d1f78","name":"Actvice Alarm","server":"5ee4d578.f7736c","service_domain":"alarm_control_panel","service":"alarm_arm_away","data":"{\"entity_id\":\"alarm_control_panel.home_alarm\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1080,"y":1260,"wires":[[]]},{"id":"606db896.9f2128","type":"trigger","z":"a3158433.9d1f78","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"40","extend":false,"units":"s","reset":"some_one_home","bytopic":"all","name":"","x":850,"y":1260,"wires":[["85dabb98.674a08","86692ab8.010d38","404814cc.c2c46c"]]},{"id":"e52cf326.a30d3","type":"api-call-service","z":"a3158433.9d1f78","name":"Lett Matt Know","server":"eef5a84.da24f58","service_domain":"notify","service":"mattiphone","data":"{\"message\":\"Arming Alarm\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":480,"y":1180,"wires":[[]]},{"id":"250b9e2.a5c8862","type":"api-call-service","z":"a3158433.9d1f78","name":"Let Danni Know ","server":"eef5a84.da24f58","service_domain":"notify","service":"danniiphone","data":"{\"message\":\"Arming Alarm\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":480,"y":1220,"wires":[[]]},{"id":"103364c9.218bfb","type":"link in","z":"a0a4859f.5a2a48","name":"Arming Alarm","links":["b0c86ed5.ad287"],"x":415,"y":960,"wires":[["2e706b9a.44a264"]]},{"id":"2e706b9a.44a264","type":"function","z":"a0a4859f.5a2a48","name":"Join","func":"\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1020,"wires":[["88b513bf.db837","6b2ad87a.0e91f8","87cfb997.596a08"]]},{"id":"b0c86ed5.ad287","type":"link out","z":"a3158433.9d1f78","name":"","links":["103364c9.218bfb"],"x":415,"y":1260,"wires":[]},{"id":"9a499cf3.62e0b","type":"api-call-service","z":"dceb45d8.425368","name":"Lett Matt Know","server":"eef5a84.da24f58","service_domain":"notify","service":"mattiphone","data":"{\"message\":\"Lunch is over\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1320,"y":300,"wires":[[]]},{"id":"b8fb1826.2cb798","type":"api-call-service","z":"dceb45d8.425368","name":"Lett Matt Know","server":"eef5a84.da24f58","service_domain":"notify","service":"mattiphone","data":"{\"message\":\"Its been 50 minutes\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1320,"y":200,"wires":[[]]},{"id":"22eeb88e.7e8268","type":"switch","z":"dceb45d8.425368","name":"Has been triggered?","property":"LunchTime.BeenTrigged","propertyType":"global","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":100,"wires":[[],["912e1c7f.de2ae"]]},{"id":"6125c1be.4d871","type":"change","z":"99d64a3d.f4e418","name":"","rules":[{"t":"set","p":"LunchTime.BeenTrigged","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":380,"wires":[[]]},{"id":"92457156.7ed4e","type":"rbe","z":"b8a16318.b66a5","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":260,"y":380,"wires":[["e4ae5383.2ab6e"]]},{"id":"4c78e362.ee846c","type":"inject","z":"dceb45d8.425368","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1060,"y":60,"wires":[["a68116a7.421e68"]]},{"id":"75f52e86.a7882","type":"inject","z":"940805f6.65fb98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":880,"y":80,"wires":[["c6085f5d.88cde","fc7e4e44.13255","14e7d3ea.9f72ec"]]},{"id":"c6085f5d.88cde","type":"api-call-service","z":"940805f6.65fb98","name":"Lett Matt Know","server":"eef5a84.da24f58","service_domain":"notify","service":"mattiphone","data":"{\"message\":\"Test\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1140,"y":160,"wires":[[]]},{"id":"fc7e4e44.13255","type":"api-call-service","z":"940805f6.65fb98","name":"Lett Matt Know","server":"eef5a84.da24f58","service_domain":"notify","service":"ios_iphone_10smax","data":"{\"entity_id\":\"matt\",\"message\":\"TEst\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1160,"y":80,"wires":[[]]},{"id":"2c90b7d5.a716f8","type":"api-call-service","z":"940805f6.65fb98","name":"Lett Matt Know","server":"eef5a84.da24f58","service_domain":"notify","service":"ios_iphone_10smax","data":"{\"entity_id\":\"matt\",\"message\":\"TEst\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1140,"y":240,"wires":[[]]},{"id":"14e7d3ea.9f72ec","type":"api-call-service","z":"940805f6.65fb98","name":"Lett Matt Know","server":"eef5a84.da24f58","service_domain":"notify","service":"mattiphone_iphone10smax","data":"{\"message\":\"Have a good lunch. Timer set\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1160,"y":40,"wires":[[]]},{"id":"9a49fe8e.6bfee","type":"trigger","z":"a0cdc0f9.a362b","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"45","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":750,"y":740,"wires":[["52c7bf3f.bee33","9d9f388a.1c7c88"]]},{"id":"e9f4888d.6daf78","type":"server-state-changed","z":"a0cdc0f9.a362b","name":"Bath Time","server":"5ee4d578.f7736c","entityidfilter":"input_boolean.bathtime","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":140,"y":760,"wires":[["bc8fc4c1.1f1378"]]},{"id":"bc8fc4c1.1f1378","type":"switch","z":"a0cdc0f9.a362b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":880,"wires":[["9a49fe8e.6bfee"],["8b85e6e3.f5e478","9d078a72.d4b5a8"]]},{"id":"8b85e6e3.f5e478","type":"api-call-service","z":"a0cdc0f9.a362b","name":"Turn Off Bathroom light","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\" light.bathroom_light\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1370,"y":880,"wires":[[]]},{"id":"52c7bf3f.bee33","type":"api-call-service","z":"a0cdc0f9.a362b","name":"Turn Off Bath Time","server":"5ee4d578.f7736c","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.bathtime\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":950,"y":780,"wires":[[]]},{"id":"9d9f388a.1c7c88","type":"trigger","z":"a0cdc0f9.a362b","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"10","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":1030,"y":740,"wires":[["8b85e6e3.f5e478"]]},{"id":"a4d35f77.97058","type":"catch","z":"a0cdc0f9.a362b","name":"","scope":null,"x":120,"y":80,"wires":[["8079fb7e.7d99e8"]]},{"id":"8079fb7e.7d99e8","type":"subflow:f5eab19a.7cf17","z":"a0cdc0f9.a362b","name":"","x":350,"y":80,"wires":[]},{"id":"9c1e7371.cd6ba","type":"comment","z":"a0cdc0f9.a362b","name":"Error Handler","info":"","x":130,"y":40,"wires":[]},{"id":"90fde8f7.a26cb8","type":"link out","z":"a068bd5.28a8d4","name":"Bathroom Motion Detected","links":["4fe3f102.783b3"],"x":355,"y":520,"wires":[]},{"id":"4fe3f102.783b3","type":"link in","z":"a0cdc0f9.a362b","name":"","links":["89bff1d4.a33a9","90fde8f7.a26cb8"],"x":135,"y":380,"wires":[["43f0cbfb.ff1114"]]},{"id":"9edcd817.aed998","type":"switch","z":"a0cdc0f9.a362b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":380,"wires":[["95a4dd4.cece52","1df00caa.c88d63","78facd5e.ed58b4"],["a43cb31c.bbb2a","1df00caa.c88d63","807b6968.6ef5c8"]]},{"id":"95a4dd4.cece52","type":"trigger","z":"a0cdc0f9.a362b","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"40","extend":true,"units":"min","reset":"","bytopic":"all","name":"Assume Failure After 40 Minutes","x":950,"y":320,"wires":[["63f156bc.aed608"]]},{"id":"a43cb31c.bbb2a","type":"change","z":"a0cdc0f9.a362b","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"unauthorised access detected. notifying police, uploading real-time camera footage to remote server","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":280,"wires":[["95a4dd4.cece52"]]},{"id":"bc7a046f.08cac8","type":"trigger","z":"a0cdc0f9.a362b","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":890,"y":380,"wires":[["35d5239.16e63dc"]]},{"id":"1df00caa.c88d63","type":"change","z":"a0cdc0f9.a362b","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"unauthorised access detected. notifying police, uploading real-time camera footage to remote server","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":440,"wires":[["bc7a046f.08cac8","4a2e8ced.86f9d4"]]},{"id":"43f0cbfb.ff1114","type":"rbe","z":"a0cdc0f9.a362b","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":270,"y":380,"wires":[["9edcd817.aed998"]]},{"id":"63f156bc.aed608","type":"api-call-service","z":"a0cdc0f9.a362b","name":"Dim Lights","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.bathroom_light\",\"brightness_pct\":25,\"transition\":0}","mergecontext":"","output_location":"","output_location_type":"none","x":1710,"y":380,"wires":[["4a2e8ced.86f9d4"]]},{"id":"4a2e8ced.86f9d4","type":"trigger","z":"a0cdc0f9.a362b","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"20","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":1910,"y":380,"wires":[["7cd2befd.6212"]]},{"id":"7cd2befd.6212","type":"api-call-service","z":"a0cdc0f9.a362b","name":"Turn off Lights","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.bathroom_light\",\"transition\":15}","mergecontext":"","output_location":"","output_location_type":"none","x":2120,"y":380,"wires":[[]]},{"id":"35d5239.16e63dc","type":"api-current-state","z":"a0cdc0f9.a362b","name":"","server":"5ee4d578.f7736c","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.bathtime","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1170,"y":380,"wires":[["5c8e616a.83de2"]]},{"id":"5c8e616a.83de2","type":"switch","z":"a0cdc0f9.a362b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":380,"wires":[[],["63f156bc.aed608"]]},{"id":"72d8e323.abf5dc","type":"api-call-service","z":"a0cdc0f9.a362b","name":"Dim Lights","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.bathroom_light\",\"brightness_pct\":10}","mergecontext":"","output_location":"","output_location_type":"none","x":1150,"y":240,"wires":[[]]},{"id":"78facd5e.ed58b4","type":"time-range-switch","z":"a0cdc0f9.a362b","name":"","lat":"","lon":"","startTime":"06:45","endTime":"22:00","startOffset":0,"endOffset":0,"x":930,"y":220,"wires":[["221d531d.195e8c"],["72d8e323.abf5dc"]],"outputLabels":["trur","false"]},{"id":"8b43d993.76bf28","type":"api-call-service","z":"a0cdc0f9.a362b","name":"Full Lights","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.bathroom_light\",\"brightness_pct\":100}","mergecontext":"","output_location":"","output_location_type":"none","x":1350,"y":180,"wires":[[]]},{"id":"9d078a72.d4b5a8","type":"change","z":"a0cdc0f9.a362b","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"unauthorised access detected. notifying police, uploading real-time camera footage to remote server","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":740,"wires":[["9a49fe8e.6bfee"]]},{"id":"89bff1d4.a33a9","type":"link out","z":"a068bd5.28a8d4","name":"Someone going to bathroom","links":["4fe3f102.783b3"],"x":895,"y":1380,"wires":[]},{"id":"cb2c3702.312b58","type":"change","z":"a068bd5.28a8d4","name":"Bathroom light","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1380,"wires":[["89bff1d4.a33a9"]]},{"id":"70e711fa.a2035","type":"server-state-changed","z":"a068bd5.28a8d4","name":"Living Room Motion","server":"5ee4d578.f7736c","entityidfilter":"binary_sensor.living_room_pir","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":130,"y":280,"wires":[["46820b01.32dab4","224d137d.2e20dc"]]},{"id":"46820b01.32dab4","type":"change","z":"a068bd5.28a8d4","name":"Living Room Motion (PIR)","rules":[{"t":"set","p":"location","pt":"msg","to":"Living Room Motion (PIR)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":280,"wires":[["64a723bb.a421cc"]]},{"id":"224d137d.2e20dc","type":"link out","z":"a068bd5.28a8d4","name":"Living Room Motion (PIR)","links":["8f80ab0d.e271b8"],"x":355,"y":240,"wires":[]},{"id":"8f80ab0d.e271b8","type":"link in","z":"a068bd5.28a8d4","name":"Living Room Motion (PIR) - Action","links":["224d137d.2e20dc"],"x":75,"y":1980,"wires":[["d5e198ac.4ec488"]]},{"id":"8ca88ef0.2dcb","type":"time-range-switch","z":"a068bd5.28a8d4","name":"","lat":"","lon":"","startTime":"05:00","endTime":"08:00","startOffset":0,"endOffset":0,"x":790,"y":1920,"wires":[["f05be72e.898218","e8c03186.98b5e"],[]]},{"id":"e04902ac.5849e","type":"link out","z":"a068bd5.28a8d4","name":"Hallway Motion","links":["c215726b.e66d5"],"x":355,"y":440,"wires":[]},{"id":"c215726b.e66d5","type":"link in","z":"a068bd5.28a8d4","name":"Hallway Motion - Action","links":["e04902ac.5849e"],"x":75,"y":1920,"wires":[["4b47eaf4.4a6da4"]]},{"id":"f05be72e.898218","type":"api-call-service","z":"a068bd5.28a8d4","name":"Turn on living room lights","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.living_room_lights\",\"brightness_pct\":100}","mergecontext":"","output_location":"","output_location_type":"none","x":1050,"y":1880,"wires":[[]]},{"id":"d8b9a7a6.ccb8c8","type":"comment","z":"a068bd5.28a8d4","name":"Auto Down Stairs Lights","info":"","x":160,"y":1840,"wires":[]},{"id":"e8c03186.98b5e","type":"trigger","z":"a068bd5.28a8d4","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"30","extend":true,"units":"s","reset":"","bytopic":"all","name":"Time to come down","x":1030,"y":1920,"wires":[["f7b6728.24f7a9"]]},{"id":"d5e198ac.4ec488","type":"change","z":"a068bd5.28a8d4","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"unauthorised access detected. notifying police, uploading real-time camera footage to remote server","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":1980,"wires":[["e8c03186.98b5e"]]},{"id":"f7b6728.24f7a9","type":"api-call-service","z":"a068bd5.28a8d4","name":"Turn off living room lights - No movent","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.living_room_lights\"}","mergecontext":"","output_location":"","output_location_type":"none","x":1310,"y":1920,"wires":[[]]},{"id":"86692ab8.010d38","type":"subflow:c9b308f8.01ef68","z":"a3158433.9d1f78","name":"","x":1070,"y":1220,"wires":[]},{"id":"404814cc.c2c46c","type":"api-call-service","z":"a3158433.9d1f78","name":"Turn Off Lights","server":"eef5a84.da24f58","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.hue_lightstrip_plus_1\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1080,"y":1180,"wires":[[]]},{"id":"15e204de.45b3bb","type":"comment","z":"48ba348c.61270c","name":"BathRoom Availability","info":"","x":160,"y":1500,"wires":[]},{"id":"8ef2eef7.7fb0c","type":"mqtt in","z":"48ba348c.61270c","name":"","topic":"checkIn/bathroomMCU","qos":"2","broker":"1b6bc4ba.56ff4b","x":160,"y":1540,"wires":[["1c55810f.6df78f","d9d4b9f.8725548"]]},{"id":"1c55810f.6df78f","type":"trigger","z":"48ba348c.61270c","op1":"","op2":"offline","op1type":"nul","op2type":"str","duration":"8","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":430,"y":1520,"wires":[["de82ca98.6d5598","d6c5ee0b.dd471","49e35126.2d4f"]]},{"id":"de82ca98.6d5598","type":"mqtt out","z":"48ba348c.61270c","name":"availability/bathroomMCU","topic":"availability/bathroomMCU","qos":"2","retain":"true","broker":"1b6bc4ba.56ff4b","x":770,"y":1580,"wires":[]},{"id":"d9d4b9f.8725548","type":"change","z":"48ba348c.61270c","name":"online","rules":[{"t":"set","p":"payload","pt":"msg","to":"online","tot":"str"},{"t":"set","p":"devicecheckin.bedroom","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1560,"wires":[["de82ca98.6d5598"]]},{"id":"d6c5ee0b.dd471","type":"api-call-service","z":"48ba348c.61270c","name":"Lett Matt Know","server":"eef5a84.da24f58","service_domain":"notify","service":"mattiphone","data":"{\"message\":\"Bath Node MCU - Offline\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":740,"y":1540,"wires":[[]]},{"id":"49e35126.2d4f","type":"change","z":"48ba348c.61270c","name":"Fault Details","rules":[{"t":"set","p":"fault.name","pt":"msg","to":"Bathroom Node MCU has not checked in","tot":"str"},{"t":"set","p":"fault.item","pt":"msg","to":"Bathroom Node MCU","tot":"str"},{"t":"set","p":"fault.actiontofix","pt":"msg","to":"Restart Bathroom node mcu","tot":"str"},{"t":"set","p":"devicecheckin.bathroom","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1500,"wires":[["f6daaed4.01e24"]]},{"id":"f6daaed4.01e24","type":"link out","z":"48ba348c.61270c","name":"Fault Detected","links":["c6717092.75d4b"],"x":935,"y":1500,"wires":[]},{"id":"4b47eaf4.4a6da4","type":"switch","z":"a068bd5.28a8d4","name":"Triggered?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":1920,"wires":[["e28df683.3ce3d8"]]},{"id":"807b6968.6ef5c8","type":"delay","z":"a0cdc0f9.a362b","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":400,"wires":[["bc7a046f.08cac8"]]},{"id":"d6fa96e8.148b68","type":"comment","z":"a0cdc0f9.a362b","name":"TODO: is dark? - record when bathroom goes to dark: flase for first time","info":"","x":1070,"y":100,"wires":[]},{"id":"125fd92.83d6a27","type":"alexa-home","z":"a0a4859f.5a2a48","conf":"3fa4c0fe.0f3ed","device":"53496","acknoledge":true,"name":"Red Alert","topic":"","x":120,"y":460,"wires":[["6437b20a.d659fc","6f9e018d.2605f","8dd6735b.05853"]]},{"id":"e5e95e2e.4d267","type":"subflow:47bc2d66.1132e4","z":"a0a4859f.5a2a48","name":"","x":1694,"y":326,"wires":[[]]},{"id":"8dd6735b.05853","type":"api-call-service","z":"a0a4859f.5a2a48","name":"Lett Matt Know","server":"eef5a84.da24f58","service_domain":"notify","service":"mattiphone","data":"{\"message\":\"Red Alert Triggered\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":420,"y":340,"wires":[[]]},{"id":"6f9e018d.2605f","type":"api-call-service","z":"a0a4859f.5a2a48","name":"Let Danni Know ","server":"eef5a84.da24f58","service_domain":"notify","service":"danniiphone","data":"{\"message\":\"Red Alert Triggered\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":420,"y":380,"wires":[[]]},{"id":"e28df683.3ce3d8","type":"api-current-state","z":"a068bd5.28a8d4","name":"Light State","server":"5ee4d578.f7736c","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.living_room_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"","override_data":"none","x":370,"y":1920,"wires":[["3d02e496.8d505c"]]},{"id":"3d02e496.8d505c","type":"switch","z":"a068bd5.28a8d4","name":"Is off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":1920,"wires":[["8ca88ef0.2dcb"]]},{"id":"87cfb997.596a08","type":"trigger","z":"a0a4859f.5a2a48","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"12","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":870,"y":1000,"wires":[["e1b8ad57.cdca"]]},{"id":"6b2ad87a.0e91f8","type":"trigger","z":"a0a4859f.5a2a48","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"22","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":870,"y":1060,"wires":[["5f3ed30a.fb17ac"]]},{"id":"9bb7e742.fe6778","type":"change","z":"a0a4859f.5a2a48","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"unauthorised access detected. notifying police, uploading real-time camera footage to remote server","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":940,"wires":[["87cfb997.596a08","6b2ad87a.0e91f8"]]},{"id":"b15702d1.3a09","type":"rbe","z":"a3158433.9d1f78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":380,"y":480,"wires":[["ed273171.7f05f"]]},{"id":"57ce7fd6.512fb","type":"rbe","z":"a3158433.9d1f78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":380,"y":520,"wires":[["ed273171.7f05f"]]},{"id":"cab70747.d77428","type":"rbe","z":"a3158433.9d1f78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":378,"y":560,"wires":[["2040e4b1.d5c3fc"]]},{"id":"4d55b523.00f95c","type":"switch","z":"a3158433.9d1f78","name":"Start up complete","property":"StartUpCompleted","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":2236,"y":591,"wires":[["b217742e.3caa78"]]},{"id":"121df473.76cdfc","type":"comment","z":"b8a16318.b66a5","name":"Start Up","info":"","x":100,"y":520,"wires":[]},{"id":"4ae824ff.6456fc","type":"inject","z":"b8a16318.b66a5","name":"","topic":"Starting","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":100,"y":560,"wires":[["cdb49bda.24b898","a1c74ed7.4353b"]]},{"id":"561911f5.ea224","type":"inject","z":"b8a16318.b66a5","name":"","topic":"","payload":"Started","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"120","x":100,"y":640,"wires":[["e459e773.cc4ca8","d09e9ffd.22858"]]},{"id":"cdb49bda.24b898","type":"change","z":"b8a16318.b66a5","name":"","rules":[{"t":"set","p":"StartUpCompleted","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":560,"wires":[[]]},{"id":"e459e773.cc4ca8","type":"change","z":"b8a16318.b66a5","name":"","rules":[{"t":"set","p":"StartUpCompleted","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":640,"wires":[[]]},{"id":"9620bb4a.793c38","type":"api-call-service","z":"b8a16318.b66a5","name":"Lett Matt Know","server":"eef5a84.da24f58","service_domain":"notify","service":"mattiphone","data":"{\"message\":\"Node red started\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":460,"y":700,"wires":[[]]},{"id":"d09e9ffd.22858","type":"time-range-switch","z":"b8a16318.b66a5","name":"","lat":"","lon":"","startTime":"09:00","endTime":"20:00","startOffset":0,"endOffset":0,"x":270,"y":700,"wires":[["9620bb4a.793c38"],[]]},{"id":"221d531d.195e8c","type":"time-range-switch","z":"a0cdc0f9.a362b","name":"","lat":"","lon":"","startTime":"10:00","endTime":"18:00","startOffset":0,"endOffset":0,"x":1150,"y":180,"wires":[[],["8b43d993.76bf28"]]},{"id":"f2f81d70.02f45","type":"api-current-state","z":"48ba348c.61270c","name":"","server":"5ee4d578.f7736c","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.bathroom_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":380,"y":1740,"wires":[["e52e2bae.e37f08"]]},{"id":"e52e2bae.e37f08","type":"switch","z":"48ba348c.61270c","name":"Is on?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":1740,"wires":[["32a12bfb.202554"]]},{"id":"829f4cff.e7ef9","type":"switch","z":"48ba348c.61270c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"80","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":1740,"wires":[["ceef5649.2c1e28","6554bcd1.9b1094"]]},{"id":"32a12bfb.202554","type":"function","z":"48ba348c.61270c","name":"How many minutes?","func":"var startTime = new Date(msg.data.last_changed); \nvar endTime = new Date(Date.now());\nvar difference = endTime.getTime() - startTime.getTime(); // This will give difference in milliseconds\nvar resultInMinutes = Math.round(difference / 60000);\nmsg.payload = resultInMinutes\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":1740,"wires":[["829f4cff.e7ef9"]]},{"id":"ceef5649.2c1e28","type":"change","z":"48ba348c.61270c","name":"Fault Details","rules":[{"t":"set","p":"fault.name","pt":"msg","to":"Bathroom Light is still on after 80 minutes","tot":"str"},{"t":"set","p":"fault.item","pt":"msg","to":"Bathroom Light Is Still","tot":"str"},{"t":"set","p":"fault.actiontofix","pt":"msg","to":"Auto fix - tunring off light","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":1740,"wires":[["ab9413e4.3c106"]]},{"id":"ab9413e4.3c106","type":"link out","z":"48ba348c.61270c","name":"Fault Detected","links":["c6717092.75d4b"],"x":1335,"y":1740,"wires":[]},{"id":"a8b7b552.c40c58","type":"inject","z":"48ba348c.61270c","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":"60","x":130,"y":1740,"wires":[["f2f81d70.02f45"]]},{"id":"bb7358f3.65e0f8","type":"comment","z":"48ba348c.61270c","name":"BathRoom Light","info":"","x":120,"y":1680,"wires":[]},{"id":"6554bcd1.9b1094","type":"api-call-service","z":"48ba348c.61270c","name":"Turn Off Bathroom light","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\" light.bathroom_light\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1230,"y":1800,"wires":[[]]},{"id":"c26a0cd4.67f75","type":"switch","z":"80866e71.966c6","name":"Is On?","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":720,"wires":[["d2f9c5ac.b10dc8"],["781e0d8f.a3c7b4"]]},{"id":"781e0d8f.a3c7b4","type":"api-call-service","z":"80866e71.966c6","name":"Turn Off PC","server":"eef5a84.da24f58","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.mattpc\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":490,"y":780,"wires":[[]]},{"id":"d2f9c5ac.b10dc8","type":"api-current-state","z":"80866e71.966c6","name":"Office Plug State","server":"eef5a84.da24f58","outputs":1,"halt_if":"","override_topic":true,"entity_id":"switch.12747566807d3a494165","override_payload":true,"override_data":true,"x":510,"y":720,"wires":[["bc1880d8.4c855"]]},{"id":"bc1880d8.4c855","type":"switch","z":"80866e71.966c6","name":"No?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Off","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":720,"wires":[["806ae5dd.96c4f8"],[]]},{"id":"806ae5dd.96c4f8","type":"api-call-service","z":"80866e71.966c6","name":"Turn On plug","server":"eef5a84.da24f58","service_domain":"switch","service":"turn_on","data":"{   \"entity_id\": \"switch.12747566807d3a494165\" }","mergecontext":"","x":870,"y":720,"wires":[[]]},{"id":"4aafa753.722c08","type":"alexa-home","z":"80866e71.966c6","conf":"3fa4c0fe.0f3ed","device":"51102","acknoledge":true,"name":"Computer","topic":"","x":80,"y":720,"wires":[["c26a0cd4.67f75","e66a2dd3.04116"]]},{"id":"17b1d5dd.e7228a","type":"api-call-service","z":"80866e71.966c6","name":"TV On/Off","server":"5ee4d578.f7736c","service_domain":"switch","service":"toggle","data":"{\"entity_id\":\"switch.tv\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":280,"y":860,"wires":[[]]},{"id":"87afd365.c4056","type":"alexa-home","z":"80866e71.966c6","conf":"3fa4c0fe.0f3ed","device":"51101","acknoledge":true,"name":"TV","topic":"","x":70,"y":860,"wires":[["17b1d5dd.e7228a"]]},{"id":"82566c03.8c124","type":"debug","z":"a068bd5.28a8d4","name":"Out Of Bed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":1480,"wires":[]},{"id":"79c6f720.ebfef8","type":"debug","z":"a068bd5.28a8d4","name":"All IN","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":1580,"wires":[]},{"id":"c094736e.a4ff5","type":"debug","z":"a068bd5.28a8d4","name":"Someone gotinto bed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":820,"y":1720,"wires":[]},{"id":"579a1c1f.6ddf94","type":"alexa-home","z":"80866e71.966c6","conf":"3fa4c0fe.0f3ed","device":"51101","acknoledge":true,"name":"TV","topic":"","x":90,"y":1000,"wires":[["e47283af.8ada2"]]},{"id":"e47283af.8ada2","type":"debug","z":"80866e71.966c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":360,"y":1000,"wires":[]},{"id":"19a57a1d.668396","type":"trigger-state","z":"acf12371.2c1ae","name":"","server":"5ee4d578.f7736c","entityid":"light.hue_lightstrip_plus_1_2","entityidfiltertype":"exact","debugenabled":true,"constraints":[{"id":"93twnlh2kwf","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"unavailable"},{"id":"yrj9xgqsli","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":320,"y":260,"wires":[["305f853b.a9109a","69f941cc.67b3d"],[]]},{"id":"305f853b.a9109a","type":"api-call-service","z":"acf12371.2c1ae","name":"","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.hue_lightstrip_plus_1_2\",\"rgb_color\":[255,40,254]}","mergecontext":"","output_location":"","output_location_type":"none","x":700,"y":220,"wires":[[]]},{"id":"69f941cc.67b3d","type":"api-call-service","z":"acf12371.2c1ae","name":"","server":"5ee4d578.f7736c","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.office_light_rgb\",\"rgb_color\":[255,40,254]}","mergecontext":"","output_location":"","output_location_type":"none","x":700,"y":260,"wires":[[]]},{"id":"419be230.6e864c","type":"comment","z":"acf12371.2c1ae","name":"When office plug active","info":"","x":260,"y":200,"wires":[]},{"id":"ebbc8996.c43b58","type":"catch","z":"acf12371.2c1ae","name":"","scope":null,"x":220,"y":80,"wires":[["1b1f5173.a7432f"]]},{"id":"1b1f5173.a7432f","type":"subflow:f5eab19a.7cf17","z":"acf12371.2c1ae","name":"","x":450,"y":80,"wires":[]},{"id":"88992cf0.ec7f5","type":"comment","z":"acf12371.2c1ae","name":"Error Handler","info":"","x":230,"y":40,"wires":[]},{"id":"8cbf3f8d.84749","type":"ha-wait-until","z":"d73100a9.0d64d","name":"","server":"5ee4d578.f7736c","outputs":2,"entityId":"sensor.num_in_master_bed","property":"state","comparator":"is","value":"2","valueType":"str","timeout":"2","timeoutUnits":"hours","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":1140,"y":400,"wires":[["84c10841.1b4a18"],["a9818634.355818"]]},{"id":"747f847d.8cf0ec","type":"subflow:47bc2d66.1132e4","z":"d73100a9.0d64d","name":"","x":2742,"y":400,"wires":[[]]},{"id":"d86727e.3a6cfd8","type":"trigger","z":"d73100a9.0d64d","op1":"","op2":"on","op1type":"nul","op2type":"str","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","name":"Wait 5 Min","x":2352,"y":440,"wires":[["b4bcf0ef.3f114"]]},{"id":"a9818634.355818","type":"function","z":"d73100a9.0d64d","name":"Trigger Goodnight 5 minutes","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1960,"y":400,"wires":[["ae6893c1.6ec56","6e45a7ed.2c8728","57928c17.67f954","d86727e.3a6cfd8"]]},{"id":"b4bcf0ef.3f114","type":"subflow:c9b308f8.01ef68","z":"d73100a9.0d64d","name":"","x":2550,"y":440,"wires":[]},{"id":"b365a010.dc357","type":"api-current-state","z":"d73100a9.0d64d","name":"Still In Bed?","server":"5ee4d578.f7736c","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.num_in_master_bed","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1470,"y":340,"wires":[["5908c7a8.09dee8"]]},{"id":"5908c7a8.09dee8","type":"switch","z":"d73100a9.0d64d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1630,"y":340,"wires":[["a9818634.355818"],["8cbf3f8d.84749"]]},{"id":"84c10841.1b4a18","type":"trigger","z":"d73100a9.0d64d","op1":"","op2":"on","op1type":"nul","op2type":"str","duration":"3","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":1290,"y":340,"wires":[["b365a010.dc357"]]},{"id":"f897269b.4b7c88","type":"comment","z":"d73100a9.0d64d","name":"Make sure both are in bed","info":"","x":1330,"y":300,"wires":[]},{"id":"52988821.c30f68","type":"api-call-service","z":"a3158433.9d1f78","name":"Disable holiday mode","server":"eef5a84.da24f58","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.holidaymode\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":480,"y":1400,"wires":[[]]},{"id":"359bae70.db4ef2","type":"api-call-service","z":"a3158433.9d1f78","name":"Disarm Alarm","server":"5ee4d578.f7736c","service_domain":"alarm_control_panel","service":"alarm_disarm","data":"{\"entity_id\":\"alarm_control_panel.home_alarm\"}","mergecontext":"","x":1060,"y":220,"wires":[[]]},{"id":"ae2c061b.21ee48","type":"trigger","z":"a3158433.9d1f78","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"8","extend":false,"units":"min","reset":"","bytopic":"all","name":"Give Life life 360 time to update","x":1110,"y":400,"wires":[["2040e4b1.d5c3fc","da37bd86.e9a86"]]},{"id":"ed273171.7f05f","type":"trigger","z":"a3158433.9d1f78","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"4","extend":false,"units":"min","reset":"","bytopic":"all","name":"Give Life life 360 time to update","x":790,"y":500,"wires":[["2040e4b1.d5c3fc"]]},{"id":"a2cfceb9.6eebc","type":"api-call-service","z":"a3158433.9d1f78","name":"Someone Home","server":"eef5a84.da24f58","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.isanyonehome\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":240,"y":1000,"wires":[[]]},{"id":"538cf72b.66f6f8","type":"api-call-service","z":"a3158433.9d1f78","name":"","server":"eef5a84.da24f58","service_domain":"notify","service":"mattiphone","data":"{ \"message\": \"Some one home\" }","mergecontext":"","output_location":"payload","output_location_type":"msg","x":260,"y":960,"wires":[[]]},{"id":"dc2626b6.cb8a88","type":"api-call-service","z":"a3158433.9d1f78","name":"Away","server":"eef5a84.da24f58","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.isanyonehome\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":450,"y":1140,"wires":[[]]},{"id":"bea24dc.62f6cb","type":"function","z":"a3158433.9d1f78","name":"SomeOne Left ","func":"\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":260,"wires":[[]]},{"id":"81818922.360f98","type":"function","z":"a3158433.9d1f78","name":"Someone Home","func":"\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":220,"wires":[["359bae70.db4ef2","34d4aee9.cd2842","ae2c061b.21ee48","554a47c4.710788"]]},{"id":"85dea4f7.0782b8","type":"switch","z":"a3158433.9d1f78","name":"Greater then 10?","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"10","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":260,"wires":[["81818922.360f98"],["bea24dc.62f6cb"]],"outputLabels":["Yes","No"]},{"id":"fa841a56.1037e8","type":"link out","z":"a3158433.9d1f78","name":"Matt Home","links":["2bed651f.90ee2a"],"x":515,"y":180,"wires":[]},{"id":"2bed651f.90ee2a","type":"link in","z":"dceb45d8.425368","name":"Matt Lunch Time - Home vis bt","links":["fa841a56.1037e8"],"x":75,"y":140,"wires":[["22eeb88e.7e8268"]]},{"id":"cf9c7018.533b1","type":"inject","z":"d73100a9.0d64d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":300,"wires":[["e259c26a.e4ce5"]]},{"id":"b217742e.3caa78","type":"switch","z":"a3158433.9d1f78","name":"Start up complete","property":"DisarmDelayOver","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":2490,"y":590,"wires":[["21652d70.72b232"]]},{"id":"da37bd86.e9a86","type":"change","z":"a3158433.9d1f78","name":"Deactive - DisarmDelayOver","rules":[{"t":"set","p":"DisarmDelayOver","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":400,"wires":[[]]},{"id":"554a47c4.710788","type":"change","z":"a3158433.9d1f78","name":"Active - DisarmDelayOver","rules":[{"t":"set","p":"DisarmDelayOver","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":360,"wires":[[]]},{"id":"a1c74ed7.4353b","type":"change","z":"b8a16318.b66a5","name":"Deactive - DisarmDelayOver","rules":[{"t":"set","p":"DisarmDelayOver","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":600,"wires":[[]]},{"id":"51629997.bff788","type":"ui_toast","z":"39d5614b.70177e","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"Cancel","topic":"","name":"confirm","x":422,"y":107,"wires":[["394e5991.367f26"]]},{"id":"a01b5e58.114ea","type":"function","z":"39d5614b.70177e","name":"Prepare confirmation","func":"/* Given a payload containing \n * host: string containing host name or ip\n * user: user name to use to ssh into the host\n * description: optional string conatining description of host\n * reboot: optional true/false flag to indicate whether to reboot (true) or shutdown\n * defaults to shutdown\n * formats the data ready to be passed to notification node for OK/Cancel\n*/\nvar mode;       // mode for user display\nvar shMode;     // mode passed to shutdown\n\nif (msg.payload.reboot === true) {\n    mode = \"reboot\";\n    shMode = \"-r\";\n} else {\n    mode = \"shutdown\";\n    shMode = \"-h\";\n}\n// these will be passed through the notification node\nmsg.shMode = shMode;\nmsg.host = msg.payload.host;\nmsg.user = msg.payload.user;\n\nmsg.topic = \"Confirm \" + mode + \" \" + msg.payload.host;\nmsg.payload = msg.payload.description;    // may be undefined\nreturn msg;","outputs":1,"noerr":0,"x":227,"y":107,"wires":[["51629997.bff788"]]},{"id":"394e5991.367f26","type":"switch","z":"39d5614b.70177e","name":"Ignore Cancel","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":589,"y":106,"wires":[["37a08b5e.b3dfe4"]]},{"id":"37a08b5e.b3dfe4","type":"change","z":"39d5614b.70177e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"'ssh ' & user & '@' & host & \t\" 'sudo shutdown \" & shMode & \" now'\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":257,"y":188,"wires":[["fd0f4fe7.c6255"]]},{"id":"fd0f4fe7.c6255","type":"exec","z":"39d5614b.70177e","command":"","addpay":true,"append":"","useSpawn":"false","timer":"20","oldrc":false,"name":"Shutdown/Reboot","x":513,"y":188.5,"wires":[[],[],[]]},{"id":"2c552ff7.471c1","type":"change","z":"21d6efde.d0943","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"'ssh admin@192.168.1.203 reboot'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":380,"wires":[["584649d0.be15d8"]]},{"id":"584649d0.be15d8","type":"exec","z":"21d6efde.d0943","command":"","addpay":true,"append":"","useSpawn":"false","timer":"20","oldrc":false,"name":"Shutdown/Reboot","x":796,"y":380.5,"wires":[["f1e4760e.bcc9c8"],["227bbf01.425db"],["eb17215d.10335"]]},{"id":"549272a5.97409c","type":"inject","z":"21d6efde.d0943","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":380,"wires":[["2c552ff7.471c1"]]},{"id":"f1e4760e.bcc9c8","type":"debug","z":"21d6efde.d0943","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1020,"y":320,"wires":[]},{"id":"227bbf01.425db","type":"debug","z":"21d6efde.d0943","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1030,"y":360,"wires":[]},{"id":"eb17215d.10335","type":"debug","z":"21d6efde.d0943","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1010,"y":400,"wires":[]},{"id":"ecc00f70.5015e","type":"trigger-state","z":"a0cdc0f9.a362b","name":"Bathroom Door Closes","server":"5ee4d578.f7736c","entityid":"binary_sensor.bathroom_door","entityidfiltertype":"exact","debugenabled":true,"constraints":[{"id":"d5vltnbuxze","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"9ynzlhs6z8","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":120,"y":320,"wires":[["11cc7991.aa98f6"],[]]},{"id":"11cc7991.aa98f6","type":"change","z":"a0cdc0f9.a362b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":320,"wires":[["9edcd817.aed998"]]},{"id":"6f09f51.c3f470c","type":"delay","z":"d73100a9.0d64d","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":360,"wires":[["76161c80.f91cb4"]]},{"id":"58efa820.b9bb08","type":"debug","z":"80866e71.966c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":300,"y":540,"wires":[]},{"id":"e66a2dd3.04116","type":"debug","z":"80866e71.966c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":680,"wires":[]}]